In [1]:
import numpy as np
import pandas as pd

In [21]:
import pandas as pd
import numpy as np
import sklearn

import warnings
#warnings.filterwarnings("ignore")

from sklearn.linear_model import SGDClassifier
from sklearn.metrics import f1_score

N_FOLDS = 2

In [3]:
df_train  = pd.read_csv('./ngwl-predict-customer-churn/train/train.csv')
#df_train
df_train['order_completed_at'] = pd.to_datetime(df_train['order_completed_at'])

In [4]:
df_test = pd.read_csv("./ngwl-predict-customer-churn/sample_submission.csv", sep=';')
df_test

            Id  Predicted
0        19843        NaN
1       471287        NaN
2       342522        NaN
3       457799        NaN
4       233778        NaN
...        ...        ...
214604   16841        NaN
214605   69348        NaN
214606  594974        NaN
214607  320024        NaN
214608   23853        NaN

[214609 rows x 2 columns]

In [5]:
df_train

         phone_id order_completed_at  target
0           19843         2020-01-01     1.0
1           19843         2020-02-01     0.0
2           19843         2020-03-01     0.0
3           19843         2020-04-01     0.0
4           19843         2020-05-01     0.0
...           ...                ...     ...
1159571     23853         2020-03-01     0.0
1159572     23853         2020-04-01     0.0
1159573     23853         2020-05-01     0.0
1159574     23853         2020-06-01     1.0
1159575     23853         2020-07-01     1.0

[1159576 rows x 3 columns]

In [8]:
phone2month_activ = {}
for row_idx, row in df_train.iterrows():
    if row_idx % 40000 == 0:
        print(row_idx)
    if row['phone_id'] not in phone2month_activ:
        phone2month_activ[row['phone_id']] = {}
    phone2month_activ[row['phone_id']][row['order_completed_at'].month + 1] = row['target']
phone2month_activ

0
40000
80000
120000
160000
200000
240000
280000
320000
360000
400000
440000
480000
520000
560000
600000
640000
680000
720000
760000
800000
840000
880000
920000
960000
1000000
1040000
1080000
1120000

{19843: {2: 1.0, 3: 0.0, 4: 0.0, 5: 0.0, 6: 0.0, 7: 0.0, 8: 1.0},
 173074: {6: 0.0, 7: 0.0, 8: 0.0},
 101944: {2: 0.0, 3: 1.0, 4: 0.0, 5: 1.0, 6: 0.0, 7: 0.0, 8: 0.0},
 615032: {5: 1.0, 6: 0.0, 7: 0.0, 8: 0.0},
 342522: {2: 0.0, 3: 0.0, 4: 0.0, 5: 0.0, 6: 0.0, 7: 1.0, 8: 0.0},
 457799: {8: 1.0},
 702441: {5: 1.0, 6: 0.0, 7: 0.0, 8: 0.0},
 233778: {6: 1.0, 7: 0.0, 8: 1.0},
 40738: {3: 0.0, 4: 1.0, 5: 1.0, 6: 1.0, 7: 1.0, 8: 0.0},
 174054: {5: 1.0, 6: 1.0, 7: 1.0, 8: 1.0},
 31838: {2: 0.0, 3: 1.0, 4: 0.0, 5: 0.0, 6: 0.0, 7: 0.0, 8: 0.0},
 155699: {4: 0.0, 5: 0.0, 6: 1.0, 7: 1.0, 8: 1.0},
 57297: {8: 1.0},
 186723: {7: 1.0, 8: 1.0},
 37901: {5: 1.0, 6: 0.0, 7: 0.0, 8: 0.0},
 86829: {5: 1.0, 6: 1.0, 7: 0.0, 8: 0.0},
 68581: {6: 1.0, 7: 0.0, 8: 0.0},
 115937: {4: 1.0, 5: 1.0, 6: 1.0, 7: 1.0, 8: 0.0},
 50685: {6: 1.0, 7: 1.0, 8: 1.0},
 56463: {2: 0.0, 3: 1.0, 4: 1.0, 5: 1.0, 6: 1.0, 7: 1.0, 8: 0.0},
 478450: {4: 0.0, 5: 0.0, 6: 0.0, 7: 1.0, 8: 1.0},
 454226: {4: 1.0, 5: 0.0, 6: 0.0, 7: 0.0, 8: 0.0},
 161920: {5: 1.0, 6: 1.0, 7: 0.0, 8: 1.0},
 532172: {5: 0.0, 6: 1.0, 7: 0.0, 8: 0.0},
 78924: {2: 1.0, 3: 0.0, 4: 0.0, 5: 0.0, 6: 0.0, 7: 0.0, 8: 0.0},
 104186: {7: 0.0, 8: 1.0},
 468296: {4: 1.0, 5: 0.0, 6: 0.0, 7: 0.0, 8: 0.0},
 312048: {5: 1.0, 6: 1.0, 7: 1.0, 8: 0.0},
 380803: {4: 0.0, 5: 1.0, 6: 0.0, 7: 0.0, 8: 0.0},
 82711: {5: 1.0, 6: 1.0, 7: 1.0, 8: 1.0},
 364465: {5: 0.0, 6: 0.0, 7: 0.0, 8: 1.0},
 46167: {2: 1.0, 3: 1.0, 4: 1.0, 5: 1.0, 6: 1.0, 7: 1.0, 8: 1.0},
 165547: {4: 1.0, 5: 1.0, 6: 1.0, 7: 1.0, 8: 1.0},
 594620: {7: 0.0, 8: 1.0},
 89218: {5: 1.0, 6: 1.0, 7: 1.0, 8: 0.0},
 442580: {4: 1.0, 5: 0.0, 6: 0.0, 7: 0.0, 8: 0.0},
 104148: {5: 1.0, 6: 1.0, 7: 1.0, 8: 0.0},
 626648: {8: 0.0},
 626287: {5: 1.0, 6: 0.0, 7: 0.0, 8: 0.0},
 359234: {8: 1.0},
 129163: {6: 1.0, 7: 1.0, 8: 1.0},
 167295: {7: 1.0, 8: 0.0},
 134781: {5: 1.0, 6: 1.0, 7: 1.0, 8: 0.0},
 148232: {5: 1.0, 6: 1.0, 7: 0.0, 8: 0.0},
 230877: {5: 1.0, 6: 1.0, 7: 1.0, 8: 0.0},
 645034: {8: 0.0},
 424722: {8: 0.0},
 681498: {5: 0.0, 6: 1.0, 7: 0.0, 8: 0.0},
 528585: {8: 1.0},
 10885: {6: 1.0, 7: 1.0, 8: 1.0},
 508614: {4: 1.0, 5: 0.0, 6: 0.0, 7: 0.0, 8: 0.0},
 161826: {6: 1.0, 7: 0.0, 8: 0.0},
 177864: {3: 0.0, 4: 0.0, 5: 0.0, 6: 1.0, 7: 0.0, 8: 0.0},
 520931: {8: 1.0},
 29861: {2: 1.0, 3: 1.0, 4: 1.0, 5: 1.0, 6: 1.0, 7: 1.0, 8: 1.0},
 91094: {7: 1.0, 8: 0.0},
 555994: {5: 0.0, 6: 0.0, 7: 0.0, 8: 1.0},
 61918: {5: 1.0, 6: 0.0, 7: 0.0, 8: 0.0},
 48298: {7: 1.0, 8: 1.0},
 266058: {7: 0.0, 8: 1.0},
 300487: {7: 1.0, 8: 1.0},
 152796: {2: 1.0, 3: 1.0, 4: 0.0, 5: 0.0, 6: 0.0, 7: 1.0, 8: 0.0},
 245755: {5: 1.0, 6: 0.0, 7: 0.0, 8: 0.0},
 33530: {2: 1.0, 3: 0.0, 4: 0.0, 5: 0.0, 6: 0.0, 7: 0.0, 8: 0.0},
 312208: {6: 1.0, 7: 0.0, 8: 0.0},
 193364: {6: 1.0, 7: 0.0, 8: 0.0},
 301737: {6: 1.0, 7: 1.0, 8: 1.0},
 143028: {7: 0.0, 8: 1.0},
 188813: {5: 0.0, 6: 1.0, 7: 0.0, 8: 0.0},
 499892: {2: 0.0, 3: 0.0, 4: 0.0, 5: 0.0, 6: 0.0, 7: 0.0, 8: 0.0},
 411247: {7: 0.0, 8: 1.0},
 237256: {7: 1.0, 8: 0.0},
 159713: {6: 1.0, 7: 0.0, 8: 0.0},
 167116: {7: 1.0, 8: 0.0},
 163740: {2: 1.0, 3: 0.0, 4: 0.0, 5: 0.0, 6: 0.0, 7: 0.0, 8: 0.0},
 112436: {2: 1.0, 3: 1.0, 4: 0.0, 5: 1.0, 6: 1.0, 7: 1.0, 8: 0.0},
 327031: {7: 1.0, 8: 0.0},
 285279: {4: 1.0, 5: 1.0, 6: 0.0, 7: 0.0, 8: 1.0},
 182781: {2: 0.0, 3: 1.0, 4: 0.0, 5: 0.0, 6: 0.0, 7: 0.0, 8: 0.0},
 209441: {6: 1.0, 7: 0.0, 8: 0.0},
 140457: {7: 1.0, 8: 1.0},
 298441: {5: 1.0, 6: 1.0, 7: 0.0, 8: 0.0},
 29539: {2: 0.0, 3: 0.0, 4: 0.0, 5: 0.0, 6: 0.0, 7: 0.0, 8: 1.0},
 254464: {5: 1.0, 6: 0.0, 7: 0.0, 8: 1.0},
 295793: {6: 1.0, 7: 0.0, 8: 0.0},
 288720: {3: 0.0, 4: 1.0, 5: 0.0, 6: 0.0, 7: 0.0, 8: 0.0},
 32245: {2: 1.0, 3: 1.0, 4: 1.0, 5: 1.0, 6: 0.0, 7: 0.0, 8: 0.0},
 318041: {5: 1.0, 6: 1.0, 7: 1.0, 8: 0.0},
 118854: {2: 0.0, 3: 0.0, 4: 0.0, 5: 0.0, 6: 0.0, 7: 0.0, 8: 0.0},
 333538: {2: 0.0, 3: 1.0, 4: 0.0, 5: 0.0, 6: 0.0, 7: 0.0, 8: 0.0},
 346237: {8: 1.0},
 164810: {6: 1.0, 7: 0.0, 8: 0.0},
 140237: {7: 1.0, 8: 1.0},
 402122: {2: 0.0, 3: 0.0, 4: 0.0, 5: 0.0, 6: 1.0, 7: 0.0, 8: 0.0},
 141182: {5: 1.0, 6: 1.0, 7: 1.0, 8: 1.0},
 548773: {8: 1.0},
 9982: {5: 1.0, 6: 0.0, 7: 0.0, 8: 0.0},
 319518: {6: 1.0, 7: 0.0, 8: 0.0},
 322678: {2: 0.0, 3: 0.0, 4: 0.0, 5: 0.0, 6: 1.0, 7: 0.0, 8: 0.0},
 342009: {8: 1.0},
 135513: {6: 0.0, 7: 0.0, 8: 1.0},
 477876: {8: 1.0},
 211471: {6: 1.0, 7: 0.0, 8: 1.0},
 249784: {3: 1.0, 4: 0.0, 5: 0.0, 6: 0.0, 7: 0.0, 8: 0.0},
 73329: {2: 0.0, 3: 1.0, 4: 1.0, 5: 1.0, 6: 1.0, 7: 0.0, 8: 1.0},
 195852: {6: 1.0, 7: 1.0, 8: 1.0},
 298107: {5: 1.0, 6: 0.0, 7: 0.0, 8: 0.0},
 248546: {3: 1.0, 4: 0.0, 5: 0.0, 6: 0.0, 7: 0.0, 8: 0.0},
 153810: {2: 1.0, 3: 1.0, 4: 1.0, 5: 1.0, 6: 1.0, 7: 1.0, 8: 1.0},
 123636: {7: 1.0, 8: 0.0},
 170548: {2: 0.0, 3: 0.0, 4: 0.0, 5: 0.0, 6: 1.0, 7: 0.0, 8: 0.0},
 159437: {6: 1.0, 7: 0.0, 8: 0.0},
 255439: {2: 0.0, 3: 1.0, 4: 0.0, 5: 1.0, 6: 1.0, 7: 0.0, 8: 0.0},
 214491: {5: 1.0, 6: 0.0, 7: 0.0, 8: 0.0},
 123289: {5: 1.0, 6: 1.0, 7: 0.0, 8: 0.0},
 341184: {6: 1.0, 7: 1.0, 8: 0.0},
 99869: {6: 1.0, 7: 0.0, 8: 0.0},
 345285: {7: 1.0, 8: 0.0},
 17908: {5: 1.0, 6: 1.0, 7: 0.0, 8: 0.0},
 225777: {2: 1.0, 3: 1.0, 4: 1.0, 5: 0.0, 6: 0.0, 7: 0.0, 8: 0.0},
 1151: {5: 1.0, 6: 0.0, 7: 0.0, 8: 0.0},
 298917: {2: 0.0, 3: 0.0, 4: 0.0, 5: 1.0, 6: 1.0, 7: 0.0, 8: 0.0},
 217566: {2: 0.0, 3: 1.0, 4: 1.0, 5: 1.0, 6: 0.0, 7: 0.0, 8: 0.0},
 442255: {4: 1.0, 5: 0.0, 6: 0.0, 7: 0.0, 8: 0.0},
 124609: {5: 1.0, 6: 1.0, 7: 1.0, 8: 1.0},
 14163: {7: 1.0, 8: 1.0},
 212428: {5: 1.0, 6: 1.0, 7: 0.0, 8: 1.0},
 95359: {2: 0.0, 3: 0.0, 4: 0.0, 5: 0.0, 6: 0.0, 7: 0.0, 8: 0.0},
 489663: {2: 0.0, 3: 1.0, 4: 0.0, 5: 0.0, 6: 0.0, 7: 1.0, 8: 0.0},
 96876: {6: 1.0, 7: 0.0, 8: 0.0},
 251895: {5: 0.0, 6: 1.0, 7: 1.0, 8: 1.0},
 59818: {2: 1.0, 3: 1.0, 4: 0.0, 5: 1.0, 6: 0.0, 7: 0.0, 8: 0.0},
 287898: {4: 1.0, 5: 1.0, 6: 1.0, 7: 0.0, 8: 0.0},
 41294: {6: 1.0, 7: 0.0, 8: 0.0},
 657274: {5: 1.0, 6: 0.0, 7: 0.0, 8: 0.0},
 113323: {4: 1.0, 5: 1.0, 6: 0.0, 7: 0.0, 8: 0.0},
 34436: {3: 1.0, 4: 0.0, 5: 0.0, 6: 0.0, 7: 0.0, 8: 0.0},
 629281: {8: 1.0},
 441671: {4: 1.0, 5: 0.0, 6: 0.0, 7: 0.0, 8: 0.0},
 212801: {7: 1.0, 8: 0.0},
 144813: {5: 0.0, 6: 1.0, 7: 0.0, 8: 0.0},
 143121: {7: 0.0, 8: 1.0},
 235762: {5: 1.0, 6: 1.0, 7: 0.0, 8: 0.0},
 228832: {4: 0.0, 5: 1.0, 6: 0.0, 7: 0.0, 8: 0.0},
 354459: {7: 1.0, 8: 1.0},
 583142: {8: 1.0},
 192460: {2: 0.0, 3: 0.0, 4: 0.0, 5: 1.0, 6: 0.0, 7: 0.0, 8: 0.0},
 267086: {8: 0.0},
 352013: {6: 1.0, 7: 0.0, 8: 0.0},
 678829: {8: 1.0},
 168323: {6: 1.0, 7: 0.0, 8: 0.0},
 678716: {8: 1.0},
 231570: {5: 1.0, 6: 1.0, 7: 1.0, 8: 0.0},
 399109: {5: 0.0, 6: 0.0, 7: 0.0, 8: 1.0},
 415342: {8: 1.0},
 132094: {5: 1.0, 6: 0.0, 7: 0.0, 8: 0.0},
 210001: {4: 0.0, 5: 1.0, 6: 0.0, 7: 0.0, 8: 0.0},
 432377: {8: 0.0},
 306132: {6: 1.0, 7: 0.0, 8: 1.0},
 317262: {7: 1.0, 8: 1.0},
 313364: {6: 1.0, 7: 0.0, 8: 0.0},
 366748: {5: 1.0, 6: 0.0, 7: 0.0, 8: 0.0},
 89601: {6: 1.0, 7: 0.0, 8: 0.0},
 245779: {5: 1.0, 6: 0.0, 7: 0.0, 8: 0.0},
 541698: {8: 1.0},
 187728: {7: 1.0, 8: 0.0},
 382068: {8: 0.0},
 124823: {7: 1.0, 8: 0.0},
 486694: {5: 1.0, 6: 0.0, 7: 0.0, 8: 0.0},
 160874: {5: 1.0, 6: 1.0, 7: 1.0, 8: 1.0},
 161496: {6: 1.0, 7: 0.0, 8: 0.0},
 313386: {6: 1.0, 7: 1.0, 8: 0.0},
 10422: {5: 1.0, 6: 0.0, 7: 0.0, 8: 0.0},
 254680: {6: 0.0, 7: 1.0, 8: 0.0},
 187891: {7: 0.0, 8: 1.0},
 146368: {5: 1.0, 6: 0.0, 7: 0.0, 8: 1.0},
 383091: {6: 1.0, 7: 0.0, 8: 0.0},
 130853: {5: 1.0, 6: 0.0, 7: 0.0, 8: 0.0},
 293224: {7: 1.0, 8: 0.0},
 318523: {5: 1.0, 6: 0.0, 7: 0.0, 8: 0.0},
 488529: {5: 1.0, 6: 0.0, 7: 0.0, 8: 0.0},
 351577: {6: 1.0, 7: 0.0, 8: 0.0},
 563243: {5: 1.0, 6: 0.0, 7: 0.0, 8: 0.0},
 45611: {7: 1.0, 8: 1.0},
 70316: {6: 0.0, 7: 1.0, 8: 1.0},
 19227: {6: 1.0, 7: 0.0, 8: 0.0},
 61922: {2: 1.0, 3: 1.0, 4: 0.0, 5: 1.0, 6: 0.0, 7: 1.0, 8: 0.0},
 141365: {7: 1.0, 8: 0.0},
 193829: {5: 1.0, 6: 0.0, 7: 0.0, 8: 0.0},
 335470: {6: 1.0, 7: 0.0, 8: 0.0},
 40533: {6: 1.0, 7: 0.0, 8: 0.0},
 194405: {6: 0.0, 7: 1.0, 8: 0.0},
 114796: {6: 1.0, 7: 0.0, 8: 0.0},
 342082: {7: 0.0, 8: 0.0},
 30630: {5: 1.0, 6: 0.0, 7: 0.0, 8: 0.0},
 179139: {4: 1.0, 5: 0.0, 6: 0.0, 7: 0.0, 8: 0.0},
 591798: {7: 1.0, 8: 0.0},
 486951: {4: 1.0, 5: 0.0, 6: 0.0, 7: 0.0, 8: 0.0},
 457007: {8: 1.0},
 190199: {5: 1.0, 6: 1.0, 7: 1.0, 8: 0.0},
 48658: {6: 1.0, 7: 0.0, 8: 0.0},
 16607: {6: 1.0, 7: 0.0, 8: 0.0},
 115818: {6: 1.0, 7: 0.0, 8: 0.0},
 371656: {7: 1.0, 8: 0.0},
 115526: {5: 1.0, 6: 1.0, 7: 0.0, 8: 0.0},
 247754: {3: 1.0, 4: 0.0, 5: 0.0, 6: 0.0, 7: 0.0, 8: 0.0},
 313209: {6: 1.0, 7: 0.0, 8: 0.0},
 243738: {2: 1.0, 3: 0.0, 4: 0.0, 5: 0.0, 6: 0.0, 7: 0.0, 8: 0.0},
 18605: {5: 1.0, 6: 0.0, 7: 0.0, 8: 0.0},
 583373: {2: 0.0, 3: 0.0, 4: 0.0, 5: 0.0, 6: 0.0, 7: 1.0, 8: 0.0},
 160082: {5: 1.0, 6: 0.0, 7: 0.0, 8: 0.0},
 390501: {7: 1.0, 8: 1.0},
 33089: {2: 1.0, 3: 1.0, 4: 1.0, 5: 1.0, 6: 1.0, 7: 1.0, 8: 1.0},
 390935: {7: 0.0, 8: 1.0},
 386450: {7: 1.0, 8: 1.0},
 90355: {6: 1.0, 7: 1.0, 8: 1.0},
 558420: {8: 1.0},
 102911: {2: 0.0, 3: 0.0, 4: 0.0, 5: 0.0, 6: 1.0, 7: 0.0, 8: 0.0},
 629570: {8: 1.0},
 346569: {7: 1.0, 8: 0.0},
 31585: {3: 0.0, 4: 0.0, 5: 0.0, 6: 1.0, 7: 0.0, 8: 0.0},
 267583: {7: 1.0, 8: 1.0},
 122795: {6: 1.0, 7: 0.0, 8: 0.0},
 571915: {8: 0.0},
 354936: {2: 0.0, 3: 0.0, 4: 0.0, 5: 0.0, 6: 0.0, 7: 1.0, 8: 1.0},
 495914: {4: 1.0, 5: 0.0, 6: 0.0, 7: 0.0, 8: 0.0},
 523059: {4: 1.0, 5: 0.0, 6: 0.0, 7: 0.0, 8: 1.0},
 197950: {6: 1.0, 7: 1.0, 8: 1.0},
 176042: {5: 1.0, 6: 0.0, 7: 0.0, 8: 0.0},
 40609: {5: 1.0, 6: 1.0, 7: 0.0, 8: 0.0},
 273658: {2: 1.0, 3: 1.0, 4: 1.0, 5: 1.0, 6: 0.0, 7: 1.0, 8: 1.0},
 343249: {5: 1.0, 6: 0.0, 7: 0.0, 8: 0.0},
 364452: {4: 0.0, 5: 1.0, 6: 0.0, 7: 0.0, 8: 0.0},
 291074: {7: 0.0, 8: 1.0},
 609068: {8: 1.0},
 269424: {6: 1.0, 7: 0.0, 8: 0.0},
 649432: {5: 1.0, 6: 0.0, 7: 0.0, 8: 0.0},
 478568: {8: 0.0},
 155219: {2: 1.0, 3: 0.0, 4: 0.0, 5: 0.0, 6: 0.0, 7: 0.0, 8: 0.0},
 465678: {8: 1.0},
 201797: {7: 1.0, 8: 1.0},
 184082: {2: 1.0, 3: 0.0, 4: 0.0, 5: 0.0, 6: 0.0, 7: 0.0, 8: 0.0},
 82485: {2: 1.0, 3: 0.0, 4: 0.0, 5: 0.0, 6: 0.0, 7: 1.0, 8: 1.0},
 46987: {3: 1.0, 4: 1.0, 5: 1.0, 6: 1.0, 7: 0.0, 8: 0.0},
 10603: {4: 1.0, 5: 1.0, 6: 0.0, 7: 1.0, 8: 0.0},
 665522: {5: 1.0, 6: 0.0, 7: 0.0, 8: 0.0},
 571523: {8: 0.0},
 654234: {8: 1.0},
 50402: {6: 1.0, 7: 1.0, 8: 1.0},
 146946: {4: 0.0, 5: 1.0, 6: 0.0, 7: 0.0, 8: 1.0},
 230192: {6: 1.0, 7: 0.0, 8: 0.0},
 231775: {5: 1.0, 6: 0.0, 7: 0.0, 8: 0.0},
 613629: {5: 1.0, 6: 0.0, 7: 0.0, 8: 0.0},
 186981: {7: 0.0, 8: 1.0},
 202133: {7: 0.0, 8: 0.0},
 309529: {7: 0.0, 8: 1.0},
 255517: {6: 0.0, 7: 1.0, 8: 0.0},
 150413: {6: 1.0, 7: 0.0, 8: 0.0},
 310618: {7: 1.0, 8: 0.0},
 160552: {6: 1.0, 7: 0.0, 8: 0.0},
 361553: {8: 1.0},
 442326: {5: 1.0, 6: 0.0, 7: 0.0, 8: 0.0},
 422761: {8: 1.0},
 17508: {6: 1.0, 7: 0.0, 8: 0.0},
 495091: {4: 1.0, 5: 0.0, 6: 0.0, 7: 0.0, 8: 1.0},
 158982: {7: 0.0, 8: 1.0},
 649841: {5: 1.0, 6: 0.0, 7: 0.0, 8: 0.0},
 142245: {6: 1.0, 7: 0.0, 8: 0.0},
 347779: {7: 1.0, 8: 0.0},
 168654: {6: 1.0, 7: 1.0, 8: 0.0},
 1460: {5: 1.0, 6: 0.0, 7: 0.0, 8: 0.0},
 87738: {6: 1.0, 7: 0.0, 8: 0.0},
 370111: {7: 1.0, 8: 0.0},
 167646: {7: 1.0, 8: 0.0},
 505855: {8: 1.0},
 482139: {8: 0.0},
 318031: {7: 1.0, 8: 0.0},
 340917: {7: 1.0, 8: 0.0},
 286331: {6: 0.0, 7: 0.0, 8: 1.0},
 148913: {6: 0.0, 7: 1.0, 8: 1.0},
 44337: {7: 1.0, 8: 0.0},
 259567: {7: 1.0, 8: 0.0},
 301964: {7: 1.0, 8: 0.0},
 61261: {6: 1.0, 7: 0.0, 8: 0.0},
 51403: {6: 1.0, 7: 0.0, 8: 0.0},
 251537: {7: 1.0, 8: 0.0},
 558709: {8: 1.0},
 458574: {8: 0.0},
 264723: {6: 1.0, 7: 0.0, 8: 0.0},
 285085: {6: 1.0, 7: 0.0, 8: 0.0},
 251930: {7: 1.0, 8: 0.0},
 277314: {7: 1.0, 8: 0.0},
 17648: {6: 1.0, 7: 0.0, 8: 0.0},
 200526: {7: 1.0, 8: 1.0},
 126213: {7: 0.0, 8: 1.0},
 288501: {5: 0.0, 6: 1.0, 7: 0.0, 8: 0.0},
 380935: {4: 0.0, 5: 1.0, 6: 0.0, 7: 0.0, 8: 0.0},
 191954: {4: 0.0, 5: 0.0, 6: 1.0, 7: 0.0, 8: 0.0},
 312777: {6: 0.0, 7: 0.0, 8: 1.0},
 245033: {6: 1.0, 7: 0.0, 8: 0.0},
 109441: {5: 1.0, 6: 1.0, 7: 0.0, 8: 0.0},
 188518: {7: 1.0, 8: 0.0},
 266884: {7: 1.0, 8: 0.0},
 555308: {8: 1.0},
 367734: {6: 1.0, 7: 0.0, 8: 0.0},
 209437: {6: 1.0, 7: 0.0, 8: 0.0},
 240157: {6: 1.0, 7: 0.0, 8: 0.0},
 448063: {4: 0.0, 5: 0.0, 6: 0.0, 7: 0.0, 8: 1.0},
 262708: {6: 1.0, 7: 0.0, 8: 0.0},
 12997: {5: 1.0, 6: 0.0, 7: 1.0, 8: 0.0},
 208839: {6: 1.0, 7: 0.0, 8: 0.0},
 34229: {7: 1.0, 8: 1.0},
 156165: {3: 0.0, 4: 0.0, 5: 0.0, 6: 1.0, 7: 0.0, 8: 0.0},
 142209: {7: 1.0, 8: 0.0},
 5743: {5: 1.0, 6: 0.0, 7: 0.0, 8: 0.0},
 445264: {8: 0.0},
 156427: {4: 0.0, 5: 0.0, 6: 1.0, 7: 0.0, 8: 0.0},
 60607: {5: 1.0, 6: 0.0, 7: 0.0, 8: 0.0},
 143820: {7: 1.0, 8: 1.0},
 164194: {6: 1.0, 7: 0.0, 8: 0.0},
 315957: {7: 1.0, 8: 0.0},
 77660: {6: 1.0, 7: 0.0, 8: 0.0},
 336222: {6: 0.0, 7: 0.0, 8: 1.0},
 523087: {4: 1.0, 5: 0.0, 6: 0.0, 7: 0.0, 8: 0.0},
 447687: {5: 1.0, 6: 0.0, 7: 0.0, 8: 0.0},
 267039: {8: 1.0},
 683160: {5: 0.0, 6: 0.0, 7: 0.0, 8: 0.0},
 175003: {6: 1.0, 7: 0.0, 8: 0.0},
 333816: {4: 1.0, 5: 0.0, 6: 0.0, 7: 0.0, 8: 0.0},
 137083: {4: 1.0, 5: 0.0, 6: 0.0, 7: 0.0, 8: 0.0},
 86034: {5: 1.0, 6: 0.0, 7: 0.0, 8: 0.0},
 28137: {6: 1.0, 7: 0.0, 8: 0.0},
 335527: {6: 0.0, 7: 0.0, 8: 1.0},
 486914: {4: 1.0, 5: 0.0, 6: 0.0, 7: 0.0, 8: 1.0},
 17570: {6: 1.0, 7: 0.0, 8: 0.0},
 156293: {8: 1.0},
 170383: {5: 1.0, 6: 1.0, 7: 0.0, 8: 0.0},
 216602: {6: 1.0, 7: 0.0, 8: 0.0},
 381406: {4: 1.0, 5: 0.0, 6: 0.0, 7: 0.0, 8: 0.0},
 455121: {4: 0.0, 5: 0.0, 6: 1.0, 7: 0.0, 8: 0.0},
 40980: {5: 1.0, 6: 0.0, 7: 0.0, 8: 0.0},
 599545: {8: 1.0},
 7437: {5: 1.0, 6: 0.0, 7: 0.0, 8: 0.0},
 377894: {7: 1.0, 8: 0.0},
 234570: {6: 1.0, 7: 0.0, 8: 0.0},
 670816: {5: 1.0, 6: 0.0, 7: 0.0, 8: 0.0},
 449511: {5: 0.0, 6: 0.0, 7: 0.0, 8: 0.0},
 146315: {5: 1.0, 6: 0.0, 7: 1.0, 8: 0.0},
 134247: {5: 1.0, 6: 0.0, 7: 0.0, 8: 1.0},
 25868: {6: 1.0, 7: 0.0, 8: 0.0},
 264352: {6: 1.0, 7: 0.0, 8: 0.0},
 11958: {5: 1.0, 6: 0.0, 7: 0.0, 8: 0.0},
 378207: {7: 1.0, 8: 1.0},
 487140: {4: 0.0, 5: 0.0, 6: 0.0, 7: 0.0, 8: 0.0},
 333455: {8: 1.0},
 400270: {7: 1.0, 8: 0.0},
 601654: {5: 1.0, 6: 0.0, 7: 0.0, 8: 0.0},
 350689: {4: 0.0, 5: 0.0, 6: 0.0, 7: 1.0, 8: 1.0},
 286478: {5: 1.0, 6: 0.0, 7: 0.0, 8: 0.0},
 43093: {5: 1.0, 6: 0.0, 7: 0.0, 8: 0.0},
 150092: {5: 1.0, 6: 0.0, 7: 0.0, 8: 0.0},
 47948: {6: 1.0, 7: 1.0, 8: 0.0},
 78115: {5: 1.0, 6: 1.0, 7: 0.0, 8: 0.0},
 190193: {7: 1.0, 8: 1.0},
 139035: {4: 1.0, 5: 0.0, 6: 0.0, 7: 0.0, 8: 0.0},
 423224: {8: 1.0},
 599649: {8: 0.0},
 370211: {7: 1.0, 8: 0.0},
 94402: {4: 0.0, 5: 0.0, 6: 0.0, 7: 1.0, 8: 0.0},
 370270: {8: 1.0},
 156859: {4: 0.0, 5: 0.0, 6: 1.0, 7: 1.0, 8: 1.0},
 305946: {6: 1.0, 7: 0.0, 8: 0.0},
 311158: {7: 1.0, 8: 0.0},
 184543: {4: 0.0, 5: 0.0, 6: 1.0, 7: 1.0, 8: 0.0},
 178822: {6: 1.0, 7: 0.0, 8: 0.0},
 54417: {6: 1.0, 7: 0.0, 8: 0.0},
 50852: {6: 0.0, 7: 1.0, 8: 0.0},
 254916: {4: 0.0, 5: 1.0, 6: 0.0, 7: 0.0, 8: 0.0},
 231830: {6: 0.0, 7: 0.0, 8: 0.0},
 313033: {7: 1.0, 8: 0.0},
 526648: {8: 0.0},
 109249: {5: 1.0, 6: 1.0, 7: 0.0, 8: 0.0},
 49876: {6: 1.0, 7: 0.0, 8: 0.0},
 400391: {4: 1.0, 5: 0.0, 6: 0.0, 7: 0.0, 8: 0.0},
 304897: {4: 1.0, 5: 0.0, 6: 0.0, 7: 0.0, 8: 0.0},
 413156: {8: 1.0},
 427688: {5: 0.0, 6: 0.0, 7: 0.0, 8: 0.0},
 85452: {6: 1.0, 7: 1.0, 8: 0.0},
 540487: {5: 0.0, 6: 0.0, 7: 0.0, 8: 0.0},
 689504: {5: 1.0, 6: 0.0, 7: 0.0, 8: 0.0},
 149924: {6: 1.0, 7: 0.0, 8: 0.0},
 582408: {8: 1.0},
 20060: {6: 1.0, 7: 0.0, 8: 0.0},
 458350: {8: 1.0},
 467188: {8: 1.0},
 351049: {7: 0.0, 8: 1.0},
 279456: {7: 1.0, 8: 0.0},
 493992: {4: 1.0, 5: 0.0, 6: 0.0, 7: 0.0, 8: 0.0},
 455124: {4: 1.0, 5: 0.0, 6: 0.0, 7: 0.0, 8: 0.0},
 300530: {7: 1.0, 8: 0.0},
 555935: {5: 0.0, 6: 1.0, 7: 0.0, 8: 0.0},
 543497: {8: 1.0},
 635038: {8: 1.0},
 469384: {4: 1.0, 5: 0.0, 6: 0.0, 7: 0.0, 8: 0.0},
 273618: {3: 1.0, 4: 0.0, 5: 0.0, 6: 0.0, 7: 0.0, 8: 0.0},
 209484: {6: 1.0, 7: 0.0, 8: 0.0},
 108928: {6: 1.0, 7: 0.0, 8: 0.0},
 109684: {6: 1.0, 7: 0.0, 8: 0.0},
 371046: {7: 1.0, 8: 0.0},
 6314: {5: 1.0, 6: 1.0, 7: 0.0, 8: 0.0},
 556788: {5: 1.0, 6: 0.0, 7: 0.0, 8: 0.0},
 557564: {5: 1.0, 6: 0.0, 7: 0.0, 8: 0.0},
 301181: {7: 1.0, 8: 0.0},
 467784: {2: 0.0, 3: 0.0, 4: 0.0, 5: 0.0, 6: 0.0, 7: 0.0, 8: 0.0},
 598822: {8: 1.0},
 49297: {6: 1.0, 7: 0.0, 8: 0.0},
 338537: {8: 1.0},
 361229: {5: 1.0, 6: 1.0, 7: 0.0, 8: 0.0},
 151016: {5: 1.0, 6: 0.0, 7: 0.0, 8: 0.0},
 358295: {4: 1.0, 5: 0.0, 6: 0.0, 7: 0.0, 8: 0.0},
 146360: {6: 1.0, 7: 0.0, 8: 0.0},
 291453: {5: 0.0, 6: 1.0, 7: 0.0, 8: 0.0},
 228732: {5: 1.0, 6: 0.0, 7: 0.0, 8: 0.0},
 466824: {8: 1.0},
 364852: {5: 0.0, 6: 0.0, 7: 1.0, 8: 0.0},
 508856: {4: 1.0, 5: 0.0, 6: 0.0, 7: 0.0, 8: 0.0},
 1654: {7: 1.0, 8: 0.0},
 229284: {6: 0.0, 7: 0.0, 8: 0.0},
 327676: {7: 1.0, 8: 1.0},
 233571: {6: 1.0, 7: 0.0, 8: 0.0},
 64053: {5: 1.0, 6: 0.0, 7: 0.0, 8: 0.0},
 27770: {6: 1.0, 7: 0.0, 8: 0.0},
 345989: {7: 0.0, 8: 1.0},
 286688: {6: 0.0, 7: 0.0, 8: 0.0},
 86514: {6: 1.0, 7: 0.0, 8: 0.0},
 653605: {8: 1.0},
 464195: {4: 0.0, 5: 0.0, 6: 0.0, 7: 0.0, 8: 0.0},
 342940: {6: 1.0, 7: 0.0, 8: 0.0},
 208350: {6: 1.0, 7: 0.0, 8: 0.0},
 555719: {8: 1.0},
 139655: {6: 1.0, 7: 0.0, 8: 0.0},
 147576: {5: 1.0, 6: 0.0, 7: 0.0, 8: 0.0},
 454391: {4: 1.0, 5: 0.0, 6: 0.0, 7: 0.0, 8: 0.0},
 197989: {7: 1.0, 8: 0.0},
 23805: {6: 1.0, 7: 0.0, 8: 0.0},
 440662: {5: 0.0, 6: 0.0, 7: 0.0, 8: 1.0},
 220580: {7: 1.0, 8: 1.0},
 134802: {5: 1.0, 6: 0.0, 7: 0.0, 8: 0.0},
 654028: {8: 1.0},
 38318: {5: 1.0, 6: 1.0, 7: 0.0, 8: 0.0},
 161256: {8: 0.0},
 251181: {6: 1.0, 7: 1.0, 8: 0.0},
 169645: {6: 1.0, 7: 0.0, 8: 0.0},
 634567: {8: 1.0},
 671313: {5: 1.0, 6: 0.0, 7: 0.0, 8: 0.0},
 144519: {6: 1.0, 7: 0.0, 8: 0.0},
 286162: {4: 0.0, 5: 1.0, 6: 0.0, 7: 0.0, 8: 0.0},
 236629: {7: 0.0, 8: 1.0},
 584841: {8: 1.0},
 258805: {7: 1.0, 8: 0.0},
 358735: {7: 0.0, 8: 1.0},
 254140: {6: 1.0, 7: 0.0, 8: 0.0},
 347701: {7: 1.0, 8: 0.0},
 9163: {5: 1.0, 6: 1.0, 7: 1.0, 8: 1.0},
 361622: {5: 1.0, 6: 0.0, 7: 0.0, 8: 0.0},
 479999: {4: 1.0, 5: 1.0, 6: 0.0, 7: 0.0, 8: 0.0},
 43712: {4: 1.0, 5: 1.0, 6: 0.0, 7: 0.0, 8: 0.0},
 151732: {6: 0.0, 7: 0.0, 8: 0.0},
 15598: {6: 0.0, 7: 1.0, 8: 0.0},
 53834: {6: 1.0, 7: 0.0, 8: 0.0},
 170090: {6: 1.0, 7: 0.0, 8: 0.0},
 312248: {6: 1.0, 7: 0.0, 8: 0.0},
 37006: {6: 0.0, 7: 0.0, 8: 1.0},
 292560: {7: 1.0, 8: 1.0},
 170437: {7: 1.0, 8: 0.0},
 353554: {7: 1.0, 8: 0.0},
 187579: {7: 1.0, 8: 0.0},
 309282: {7: 1.0, 8: 1.0},
 357104: {4: 1.0, 5: 0.0, 6: 0.0, 7: 0.0, 8: 1.0},
 145601: {7: 1.0, 8: 0.0},
 4077: {5: 1.0, 6: 0.0, 7: 1.0, 8: 0.0},
 478740: {8: 1.0},
 478114: {6: 0.0, 7: 1.0, 8: 0.0},
 258122: {8: 1.0},
 311172: {7: 1.0, 8: 1.0},
 456047: {4: 1.0, 5: 0.0, 6: 0.0, 7: 0.0, 8: 0.0},
 459537: {8: 0.0},
 308850: {7: 0.0, 8: 1.0},
 75643: {5: 1.0, 6: 1.0, 7: 0.0, 8: 0.0},
 435281: {8: 0.0},
 481439: {8: 1.0},
 12012: {5: 1.0, 6: 1.0, 7: 0.0, 8: 0.0},
 370665: {7: 1.0, 8: 0.0},
 130772: {8: 1.0},
 247856: {5: 1.0, 6: 0.0, 7: 0.0, 8: 0.0},
 190654: {4: 1.0, 5: 0.0, 6: 0.0, 7: 0.0, 8: 0.0},
 115179: {5: 1.0, 6: 0.0, 7: 0.0, 8: 0.0},
 504869: {4: 1.0, 5: 0.0, 6: 0.0, 7: 0.0, 8: 0.0},
 711794: {5: 1.0, 6: 0.0, 7: 0.0, 8: 0.0},
 152099: {4: 1.0, 5: 1.0, 6: 0.0, 7: 0.0, 8: 1.0},
 231549: {5: 1.0, 6: 0.0, 7: 0.0, 8: 0.0},
 319466: {6: 1.0, 7: 0.0, 8: 0.0},
 210661: {7: 1.0, 8: 0.0},
 651223: {5: 1.0, 6: 0.0, 7: 0.0, 8: 0.0},
 481368: {7: 1.0, 8: 1.0},
 440778: {2: 1.0, 3: 0.0, 4: 0.0, 5: 0.0, 6: 0.0, 7: 0.0, 8: 0.0},
 325700: {6: 0.0, 7: 0.0, 8: 1.0},
 464770: {4: 1.0, 5: 0.0, 6: 0.0, 7: 0.0, 8: 0.0},
 185050: {7: 1.0, 8: 0.0},
 527441: {8: 1.0},
 39998: {5: 1.0, 6: 0.0, 7: 0.0, 8: 0.0},
 664180: {5: 1.0, 6: 0.0, 7: 0.0, 8: 0.0},
 13034: {6: 0.0, 7: 0.0, 8: 1.0},
 332086: {7: 0.0, 8: 1.0},
 130802: {6: 0.0, 7: 1.0, 8: 0.0},
 205795: {7: 1.0, 8: 0.0},
 129147: {6: 1.0, 7: 0.0, 8: 0.0},
 281030: {4: 1.0, 5: 0.0, 6: 0.0, 7: 0.0, 8: 0.0},
 665507: {5: 0.0, 6: 1.0, 7: 0.0, 8: 0.0},
 286501: {4: 0.0, 5: 0.0, 6: 0.0, 7: 1.0, 8: 0.0},
 26468: {6: 1.0, 7: 0.0, 8: 0.0},
 346027: {7: 0.0, 8: 1.0},
 107858: {7: 1.0, 8: 0.0},
 362602: {6: 0.0, 7: 0.0, 8: 1.0},
 234744: {6: 1.0, 7: 1.0, 8: 0.0},
 40793: {6: 1.0, 7: 0.0, 8: 0.0},

In [22]:
train_data_def = pd.read_csv('./ngwl-predict-customer-churn/train/train.csv', sep=',')
#print(train_data_def)

train_start = '2020-06'
test_start = '2020-07'

train_data = train_data_def[train_data_def['order_completed_at']==train_start]
print(train_data['phone_id'].nunique())
print(train_data['target'].value_counts())

test_data = train_data_def[train_data_def['order_completed_at']==test_start]
print(test_data['phone_id'].nunique())
print(test_data['target'].value_counts())

train_data.loc[:, 'fold_num'] = [np.random.randint(1,N_FOLDS+1) for i in range(len(train_data))]
train_data['fold_num'].value_counts()
train_data['month']=6

test_data.loc[:, 'fold_num'] = [np.random.randint(1,N_FOLDS+1) for i in range(len(test_data))]
test_data['fold_num'].value_counts()
test_data['month']=7


train_folds = []
test_folds = []

for i in range(1, N_FOLDS+1):
    local_data_train = train_data.loc[train_data['fold_num']==i]
    local_data_test = test_data.loc[test_data['fold_num']==i]

    del local_data_train['fold_num']
    del local_data_test['fold_num']
    
    del local_data_train['order_completed_at']
    del local_data_test['order_completed_at']
    
    train_folds.append(local_data_train.reset_index(drop=True))
    test_folds.append(local_data_test.reset_index(drop=True))

254285
0.0    127797
1.0    126488
Name: target, dtype: int64
284449
0.0    151807
1.0    132642
Name: target, dtype: int64

/home/dana_zl/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:1596: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = _infer_fill_value(value)
/home/dana_zl/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:1745: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(ilocs[0], value)
/home/dana_zl/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/dana_zl/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
fea = pd.read_csv('fea/f_shipments.csv')

clf = SGDClassifier()

scores = []
for i in range(N_FOLDS):
    
    print(i)
    X_tr, y_tr = get_X_y(train_folds, i, fea)
    X_te, y_te = get_X_y(test_folds, i, fea)    
    
    clf.fit(X_tr, y_tr)
    preds = clf.predict(X_te)
    
    scores.append(f1_score(y_te, preds))
    break

In [8]:
client_features = pd.read_pickle("./fea_all_2_ship_plus_order_plus_phone.pkl")
client_features

,order_id_nunique,total_cost_sum,total_cost_min,total_cost_max,total_cost_mean,total_cost_std,rate_mean,promo_total_sum,promo_total_mean,total_weight_sum,...,order_state_canceled,order_state_resumed,order_state_cart,shipment_state_shipped,shipment_state_canceled,shipment_state_collecting,shipment_state_ready,shipment_state_shipping,shipment_state_ready_to_ship,shipment_state_pending
0,1,98.0,98.0,98.0,98.0,0.000000,0.0,0.000000,0.000000,22024,...,NaN,NaN,NaN,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2,366.0,158.0,208.0,183.0,35.355339,0.0,0.000000,0.000000,67946,...,NaN,NaN,NaN,2.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1,233.0,233.0,233.0,233.0,0.000000,0.0,0.000000,0.000000,34195,...,NaN,NaN,NaN,1.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1,248.0,248.0,248.0,248.0,0.000000,0.0,0.000000,0.000000,40777,...,NaN,NaN,NaN,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2,0.0,0.0,0.0,0.0,0.000000,5.0,0.000000,0.000000,31265,...,NaN,NaN,NaN,2.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1155784,1,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.000000,5320,...,1.0,NaN,NaN,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1155785,1,0.0,0.0,0.0,0.0,0.000000,5.0,0.000000,0.000000,12270,...,NaN,NaN,NaN,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1155786,1,0.0,0.0,0.0,0.0,0.000000,5.0,-163.770004,-163.770004,14039,...,NaN,NaN,NaN,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1155787,1,0.0,0.0,0.0,0.0,0.000000,0.0,-193.270004,-193.270004,18470,...,NaN,NaN,NaN,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1155788,1,0.0,0.0,0.0,0.0,0.000000,5.0,0.000000,0.000000,17740,...,NaN,NaN,NaN,1.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
client_features.set_index

In [23]:
client_features.columns

Index(['order_id_nunique', 'total_cost_sum', 'total_cost_min',
       'total_cost_max', 'total_cost_mean', 'total_cost_std', 'rate_mean',
       'promo_total_sum', 'promo_total_mean', 'total_weight_sum',
       'total_weight_mean', 'month', 'phone_id', 'month_after_first', 'age',
       'genger_nan', 'gender_male', 'gender_female', 'order_state_complete',
       'order_state_canceled', 'order_state_resumed', 'order_state_cart',
       'shipment_state_shipped', 'shipment_state_canceled',
       'shipment_state_collecting', 'shipment_state_ready',
       'shipment_state_shipping', 'shipment_state_ready_to_ship',
       'shipment_state_pending'],
      dtype='object')

In [69]:
len(set(df_test['Id'].values).difference(set(client_features[client_features['month'].isin([7, 8])]['phone_id'].values)))

2

In [66]:
client_features[client_features['month'].isin([6, 7])]

,order_id_nunique,total_cost_sum,total_cost_min,total_cost_max,total_cost_mean,total_cost_std,rate_mean,promo_total_sum,promo_total_mean,total_weight_sum,...,order_state_canceled,order_state_resumed,order_state_cart,shipment_state_shipped,shipment_state_canceled,shipment_state_collecting,shipment_state_ready,shipment_state_shipping,shipment_state_ready_to_ship,shipment_state_pending
6,1,0.0,0.0,0.0,0.0,0.000000,5.0,-200.00,-200.00,28032,...,NaN,NaN,NaN,1.0,0.0,0.0,0.0,0.0,0.0,0.0
10,2,356.0,158.0,198.0,178.0,28.284271,0.0,0.00,0.00,56717,...,NaN,NaN,NaN,2.0,0.0,0.0,0.0,0.0,0.0,0.0
16,1,234.0,234.0,234.0,234.0,0.000000,0.0,0.00,0.00,46266,...,NaN,NaN,NaN,1.0,0.0,0.0,0.0,0.0,0.0,0.0
23,2,0.0,0.0,0.0,0.0,0.000000,0.0,-289.34,-144.67,17805,...,NaN,NaN,NaN,2.0,0.0,0.0,0.0,0.0,0.0,0.0
24,3,0.0,0.0,0.0,0.0,0.000000,0.0,-750.00,-250.00,27218,...,NaN,NaN,NaN,3.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1154083,1,158.0,158.0,158.0,158.0,0.000000,5.0,0.00,0.00,3740,...,NaN,NaN,NaN,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1154087,1,0.0,0.0,0.0,0.0,0.000000,5.0,0.00,0.00,7305,...,NaN,NaN,NaN,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1154095,1,99.0,99.0,99.0,99.0,0.000000,4.0,0.00,0.00,3930,...,NaN,NaN,NaN,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1154111,1,99.0,99.0,99.0,99.0,0.000000,5.0,0.00,0.00,1864,...,NaN,NaN,NaN,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1154115,1,98.0,98.0,98.0,98.0,0.000000,5.0,-199.00,-199.00,23295,...,NaN,NaN,NaN,1.0,0.0,0.0,0.0,0.0,0.0,0.0

In [63]:
client_features

,order_id_nunique,total_cost_sum,total_cost_min,total_cost_max,total_cost_mean,total_cost_std,rate_mean,promo_total_sum,promo_total_mean,total_weight_sum,...,order_state_canceled,order_state_resumed,order_state_cart,shipment_state_shipped,shipment_state_canceled,shipment_state_collecting,shipment_state_ready,shipment_state_shipping,shipment_state_ready_to_ship,shipment_state_pending
0,1,98.0,98.0,98.0,98.0,0.000000,0.0,0.000000,0.000000,22024,...,NaN,NaN,NaN,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2,366.0,158.0,208.0,183.0,35.355339,0.0,0.000000,0.000000,67946,...,NaN,NaN,NaN,2.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1,233.0,233.0,233.0,233.0,0.000000,0.0,0.000000,0.000000,34195,...,NaN,NaN,NaN,1.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1,248.0,248.0,248.0,248.0,0.000000,0.0,0.000000,0.000000,40777,...,NaN,NaN,NaN,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2,0.0,0.0,0.0,0.0,0.000000,5.0,0.000000,0.000000,31265,...,NaN,NaN,NaN,2.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1155784,1,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.000000,5320,...,1.0,NaN,NaN,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1155785,1,0.0,0.0,0.0,0.0,0.000000,5.0,0.000000,0.000000,12270,...,NaN,NaN,NaN,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1155786,1,0.0,0.0,0.0,0.0,0.000000,5.0,-163.770004,-163.770004,14039,...,NaN,NaN,NaN,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1155787,1,0.0,0.0,0.0,0.0,0.000000,0.0,-193.270004,-193.270004,18470,...,NaN,NaN,NaN,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1155788,1,0.0,0.0,0.0,0.0,0.000000,5.0,0.000000,0.000000,17740,...,NaN,NaN,NaN,1.0,0.0,0.0,0.0,0.0,0.0,0.0

In [77]:
client_features_6 = client_features[client_features['month'] == 6]
client_features_7 = client_features[client_features['month'] == 7]
client_features_56 = pd.merge(client_features[client_features['month'] == 5],
                              client_features[client_features['month'] == 6],
         how='outer', on='phone_id')
client_features_45 = pd.merge(client_features[client_features['month'] == 4],
                              client_features[client_features['month'] == 5],
                              how='outer', on='phone_id'
)   
client_features_67 = pd.merge(
    client_features[client_features['month'] == 6],
    client_features[client_features['month'] == 7],
    how='outer', on='phone_id'
)                          
client_features_678 = pd.merge(
    client_features_67,
    client_features[client_features['month'] == 8],
    how='outer', on='phone_id'
)
                              
client_features_567 = pd.merge(client_features_56, client_features[client_features['month'] == 7],
         how='outer', on='phone_id')
client_features_456 = pd.merge(client_features_45, client_features[client_features['month'] == 6],
         how='outer', on='phone_id')
client_features_567

,order_id_nunique_x,total_cost_sum_x,total_cost_min_x,total_cost_max_x,total_cost_mean_x,total_cost_std_x,rate_mean_x,promo_total_sum_x,promo_total_mean_x,total_weight_sum_x,...,order_state_canceled,order_state_resumed,order_state_cart,shipment_state_shipped,shipment_state_canceled,shipment_state_collecting,shipment_state_ready,shipment_state_shipping,shipment_state_ready_to_ship,shipment_state_pending
0,1.0,248.0,248.0,248.0,248.0,0.000000,0.00,0.0,0.0,40777.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.0,168.0,168.0,168.0,168.0,0.000000,1.00,-250.0,-250.0,25106.0,...,NaN,NaN,NaN,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2.0,331.0,163.0,168.0,165.5,3.535534,2.00,0.0,0.0,56605.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4.0,316.0,0.0,158.0,79.0,91.221343,1.25,-600.0,-150.0,57316.0,...,NaN,NaN,NaN,3.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1.0,158.0,158.0,158.0,158.0,0.000000,5.00,0.0,0.0,3990.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
404032,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1.0,0.0,0.0,0.0,0.0,0.0,0.0
404033,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1.0,0.0,0.0,0.0,0.0,0.0,0.0
404034,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1.0,0.0,0.0,0.0,0.0,0.0,0.0
404035,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1.0,0.0,0.0,0.0,0.0,0.0,0.0
404036,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1.0,0.0,0.0,0.0,0.0,0.0,0.0

In [150]:
client_features_456[['month_after_first',
 'month_after_first_x',
 'month_after_first_y']]

        month_after_first  month_after_first_x  month_after_first_y
0                     NaN                  4.0                  NaN
1                     NaN                  2.0                  NaN
2                     1.0                  2.0                  3.0
3                     3.0                  4.0                  5.0
4                     NaN                  0.0                  1.0
...                   ...                  ...                  ...
370282                0.0                  NaN                  NaN
370283                0.0                  NaN                  NaN
370284                0.0                  NaN                  NaN
370285                0.0                  NaN                  NaN
370286                0.0                  NaN                  NaN

[370287 rows x 3 columns]

In [148]:
sorted(client_features_456.columns)

['age',
 'age_x',
 'age_y',
 'gender_female',
 'gender_female_x',
 'gender_female_y',
 'gender_male',
 'gender_male_x',
 'gender_male_y',
 'genger_nan',
 'genger_nan_x',
 'genger_nan_y',
 'month',
 'month_after_first',
 'month_after_first_x',
 'month_after_first_y',
 'month_x',
 'month_y',
 'order_id_nunique',
 'order_id_nunique_x',
 'order_id_nunique_y',
 'order_state_canceled',
 'order_state_canceled_x',
 'order_state_canceled_y',
 'order_state_cart',
 'order_state_cart_x',
 'order_state_cart_y',
 'order_state_complete',
 'order_state_complete_x',
 'order_state_complete_y',
 'order_state_resumed',
 'order_state_resumed_x',
 'order_state_resumed_y',
 'phone_id',
 'promo_total_mean',
 'promo_total_mean_x',
 'promo_total_mean_y',
 'promo_total_sum',
 'promo_total_sum_x',
 'promo_total_sum_y',
 'rate_mean',
 'rate_mean_x',
 'rate_mean_y',
 'shipment_state_canceled',
 'shipment_state_canceled_x',
 'shipment_state_canceled_y',
 'shipment_state_collecting',
 'shipment_state_collecting_x',
 'shipment_state_collecting_y',
 'shipment_state_pending',
 'shipment_state_pending_x',
 'shipment_state_pending_y',
 'shipment_state_ready',
 'shipment_state_ready_to_ship',
 'shipment_state_ready_to_ship_x',
 'shipment_state_ready_to_ship_y',
 'shipment_state_ready_x',
 'shipment_state_ready_y',
 'shipment_state_shipped',
 'shipment_state_shipped_x',
 'shipment_state_shipped_y',
 'shipment_state_shipping',
 'shipment_state_shipping_x',
 'shipment_state_shipping_y',
 'total_cost_max',
 'total_cost_max_x',
 'total_cost_max_y',
 'total_cost_mean',
 'total_cost_mean_x',
 'total_cost_mean_y',
 'total_cost_min',
 'total_cost_min_x',
 'total_cost_min_y',
 'total_cost_std',
 'total_cost_std_x',
 'total_cost_std_y',
 'total_cost_sum',
 'total_cost_sum_x',
 'total_cost_sum_y',
 'total_weight_mean',
 'total_weight_mean_x',
 'total_weight_mean_y',
 'total_weight_sum',
 'total_weight_sum_x',
 'total_weight_sum_y']

In [39]:
client_features_567['phone_id']

0              2
1              3
2              4
3              9
4             10
           ...
404032    717314
404033    717399
404034    717442
404035    717445
404036    717450
Name: phone_id, Length: 404037, dtype: int64

In [40]:
client_features_567[client_features_567['phone_id'] == 717445]

,order_id_nunique_x,total_cost_sum_x,total_cost_min_x,total_cost_max_x,total_cost_mean_x,total_cost_std_x,rate_mean_x,promo_total_sum_x,promo_total_mean_x,total_weight_sum_x,...,order_state_canceled,order_state_resumed,order_state_cart,shipment_state_shipped,shipment_state_canceled,shipment_state_collecting,shipment_state_ready,shipment_state_shipping,shipment_state_ready_to_ship,shipment_state_pending
404035,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1.0,0.0,0.0,0.0,0.0,0.0,0.0

In [41]:
 client_features[client_features['phone_id'] == 717445]['month']

1154082    7
Name: month, dtype: int64

In [38]:
len(set(df_test['Id'].unique()).difference(set(client_features_567['phone_id'].unique())))

34437

In [32]:
df_test

            Id  Predicted
0        19843        NaN
1       471287        NaN
2       342522        NaN
3       457799        NaN
4       233778        NaN
...        ...        ...
214604   16841        NaN
214605   69348        NaN
214606  594974        NaN
214607  320024        NaN
214608   23853        NaN

[214609 rows x 2 columns]

In [27]:
client_features[client_features['month'] == 5]

,order_id_nunique,total_cost_sum,total_cost_min,total_cost_max,total_cost_mean,total_cost_std,rate_mean,promo_total_sum,promo_total_mean,total_weight_sum,...,order_state_canceled,order_state_resumed,order_state_cart,shipment_state_shipped,shipment_state_canceled,shipment_state_collecting,shipment_state_ready,shipment_state_shipping,shipment_state_ready_to_ship,shipment_state_pending
3,1,248.0,248.0,248.0,248.0,0.000000,0.00,0.0,0.0,40777,...,NaN,NaN,NaN,1.0,0.0,0.0,0.0,0.0,0.0,0.0
5,1,168.0,168.0,168.0,168.0,0.000000,1.00,-250.0,-250.0,25106,...,NaN,NaN,NaN,1.0,0.0,0.0,0.0,0.0,0.0,0.0
9,2,331.0,163.0,168.0,165.5,3.535534,2.00,0.0,0.0,56605,...,NaN,NaN,NaN,2.0,0.0,0.0,0.0,0.0,0.0,0.0
22,4,316.0,0.0,158.0,79.0,91.221343,1.25,-600.0,-150.0,57316,...,NaN,NaN,NaN,4.0,0.0,0.0,0.0,0.0,0.0,0.0
25,1,158.0,158.0,158.0,158.0,0.000000,5.00,0.0,0.0,3990,...,NaN,NaN,NaN,1.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1154105,1,99.0,99.0,99.0,99.0,0.000000,0.00,0.0,0.0,10080,...,NaN,NaN,NaN,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1154109,1,98.0,98.0,98.0,98.0,0.000000,4.00,0.0,0.0,8555,...,NaN,NaN,NaN,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1154112,1,99.0,99.0,99.0,99.0,0.000000,5.00,0.0,0.0,27000,...,NaN,NaN,NaN,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1154113,1,213.0,213.0,213.0,213.0,0.000000,0.00,0.0,0.0,53000,...,NaN,1.0,NaN,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1154116,1,98.0,98.0,98.0,98.0,0.000000,5.00,-199.0,-199.0,23368,...,NaN,NaN,NaN,1.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
features_3_month = pd.merge(left, right, how='inner', on=None, ([
        client_features[client_features['month'] == '5'],
        client_features[client_features['month'] == '6'],
        client_features[client_features['month'] == '7'],
        ], axis = 1
    )

In [52]:
client_features_567

,order_id_nunique_x,total_cost_sum_x,total_cost_min_x,total_cost_max_x,total_cost_mean_x,total_cost_std_x,rate_mean_x,promo_total_sum_x,promo_total_mean_x,total_weight_sum_x,...,order_state_canceled,order_state_resumed,order_state_cart,shipment_state_shipped,shipment_state_canceled,shipment_state_collecting,shipment_state_ready,shipment_state_shipping,shipment_state_ready_to_ship,shipment_state_pending
0,1.0,248.0,248.0,248.0,248.0,0.000000,0.00,0.0,0.0,40777.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.0,168.0,168.0,168.0,168.0,0.000000,1.00,-250.0,-250.0,25106.0,...,NaN,NaN,NaN,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2.0,331.0,163.0,168.0,165.5,3.535534,2.00,0.0,0.0,56605.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4.0,316.0,0.0,158.0,79.0,91.221343,1.25,-600.0,-150.0,57316.0,...,NaN,NaN,NaN,3.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1.0,158.0,158.0,158.0,158.0,0.000000,5.00,0.0,0.0,3990.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
404032,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1.0,0.0,0.0,0.0,0.0,0.0,0.0
404033,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1.0,0.0,0.0,0.0,0.0,0.0,0.0
404034,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1.0,0.0,0.0,0.0,0.0,0.0,0.0
404035,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1.0,0.0,0.0,0.0,0.0,0.0,0.0
404036,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1.0,0.0,0.0,0.0,0.0,0.0,0.0

In [53]:
client_features_567['phone_id'].nunique()

404037

In [85]:
client_features.columns

Index(['order_id_nunique', 'total_cost_sum', 'total_cost_min',
       'total_cost_max', 'total_cost_mean', 'total_cost_std', 'rate_mean',
       'promo_total_sum', 'promo_total_mean', 'total_weight_sum',
       'total_weight_mean', 'month', 'phone_id', 'month_after_first', 'age',
       'genger_nan', 'gender_male', 'gender_female', 'order_state_complete',
       'order_state_canceled', 'order_state_resumed', 'order_state_cart',
       'shipment_state_shipped', 'shipment_state_canceled',
       'shipment_state_collecting', 'shipment_state_ready',
       'shipment_state_shipping', 'shipment_state_ready_to_ship',
       'shipment_state_pending'],
      dtype='object')

In [10]:
from copy import deepcopy

In [137]:
clf = SGDClassifier()
for idx in range(3):
    train_fold = train_folds[idx]
    test_fold = test_folds[idx]
    
    train_features = pd.merge(train_fold, client_features_456, on='phone_id').fillna(0)
    #train_features = pd.merge(train_fold, client_features_7, on='phone_id').fillna(0)
    print(len(train_fold), len(train_features), train_features.shape)
       
    #print(train_features)
    train_target = deepcopy(train_features['target'])
    del train_features['target']
    
    test_features = pd.merge(test_fold, client_features_567, on='phone_id').fillna(0)
    #test_features = pd.merge(test_fold, client_features_7, on='phone_id').fillna(0)
    print(len(test_fold), len(test_features), test_features.shape)
    
    test_target = deepcopy(test_features['target'])
    del test_features['target']
    
    #print(train_features.columns, train_target)
    #print(test_features.columns, test_target)
    
    clf.fit(train_features, train_target)
    preds = clf.predict(test_features)
    score = f1_score(test_target, preds)
    print(score)

84876 75399 (75399, 87)
94926 83336 (83336, 87)
0.373938282376823
84519 75071 (75071, 87)
94627 83154 (83154, 87)
0.6644625924189715
84890 75427 (75427, 87)
94896 83168 (83168, 87)
0.6572112546730504

In [94]:
clf.get_params

<bound method XGBModel.get_params of XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
              importance_type='gain', interaction_constraints='',
              learning_rate=0.300000012, max_delta_step=0, max_depth=6,
              min_child_weight=1, missing=nan, monotone_constraints='()',
              n_estimators=100, n_jobs=0, num_parallel_tree=1, random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, subsample=1,
              tree_method='exact', validate_parameters=1, verbosity=None)>

In [30]:
#clf = SGDClassifier()
clf = xgb.XGBClassifier(n_estimators=190, max_depth=14)

param = {'max_depth': 4, 'eta': 1, 'objective': 'binary:logistic'}
for idx in range(3):
    train_fold = train_folds[idx]
    test_fold = test_folds[idx]
    
    #train_features = pd.merge(train_fold, client_features_456, on='phone_id').fillna(0)
    train_features = pd.merge(train_fold, client_features_6, on='phone_id').fillna(0)
    print(len(train_fold), len(train_features), train_features.shape)
       
    #print(train_features)
    train_target = deepcopy(train_features['target'])
    del train_features['target']
    del train_features['phone_id']
    del train_features['month_x']
    del train_features['month_y']
    
    #test_features = pd.merge(test_fold, client_features_567, on='phone_id').fillna(0)
    test_features = pd.merge(test_fold, client_features_7, on='phone_id').fillna(0)
    print(len(test_fold), len(test_features), test_features.shape)
    
    test_target = deepcopy(test_features['target'])
    del test_features['target']
    del test_features['phone_id']
    del test_features['month_x']
    del test_features['month_y']
    
    #print(train_features.columns, train_target)
    #print(test_features.columns, test_target)

    clf.fit(train_features, train_target)
    print(type(clf))
    new_preds = clf.predict(test_features)
    score = f1_score(test_target, new_preds)
    print(score)

127226 78037 (78037, 31)
142031 78425 (78425, 31)
<class 'xgboost.sklearn.XGBClassifier'>
0.7509349717600367
127059 77545 (77545, 31)
142418 78856 (78856, 31)
<class 'xgboost.sklearn.XGBClassifier'>
0.7529189673887393

IndexError: list index out of range

In [19]:
#clf = SGDClassifier()
clf = xgb.XGBClassifier(n_estimators=600, max_depth=5)

param = {'max_depth': 4, 'eta': 1, 'objective': 'binary:logistic'}
for idx in range(3):
    train_fold = train_folds[idx]
    test_fold = test_folds[idx]
    
    train_features = pd.merge(train_fold, client_features_456, on='phone_id').fillna(0)
    #train_features = pd.merge(train_fold, client_features_6, on='phone_id').fillna(0)
    print(len(train_fold), len(train_features), train_features.shape)
       
    #print(train_features)
    train_target = deepcopy(train_features['target'])
    del train_features['target']
    del train_features['phone_id']
    del train_features['month_x']
    del train_features['month_y']
    train_features.drop([
 'age_x',
 'age_y',
 'gender_female_x',
 'gender_female_y',
 'gender_male_x',
 'gender_male_y',
 'genger_nan_x',
 'genger_nan_y'], axis=1, inplace=True)

    
    test_features = pd.merge(test_fold, client_features_567, on='phone_id').fillna(0)
    #test_features = pd.merge(test_fold, client_features_7, on='phone_id').fillna(0)
    print(len(test_fold), len(test_features), test_features.shape)
    
    test_target = deepcopy(test_features['target'])
    del test_features['target']
    del test_features['phone_id']
    del test_features['month_x']
    del test_features['month_y']
    test_features.drop([
 'age_x',
 'age_y',
 'gender_female_x',
 'gender_female_y',
 'gender_male_x',
 'gender_male_y',
 'genger_nan_x',
 'genger_nan_y'], axis=1, inplace=True)
    
    #print(train_features.columns, train_target)
    #print(test_features.columns, test_target)

    clf.fit(train_features, train_target)
    print(type(clf))
    new_preds = clf.predict(test_features)
    score = f1_score(test_target, new_preds)
    print(score)

84806 75270 (75270, 87)
94927 83380 (83380, 87)
<class 'xgboost.sklearn.XGBClassifier'>
0.6975030290917722
84706 75181 (75181, 87)
95015 83309 (83309, 87)
<class 'xgboost.sklearn.XGBClassifier'>
0.7059650160866832
84773 75446 (75446, 87)
94507 82969 (82969, 87)
<class 'xgboost.sklearn.XGBClassifier'>
0.7014759917792863

In [38]:
#clf = SGDClassifier()
clf = xgb.XGBClassifier(n_estimators=500, max_depth=6, learning_rate=0.05)

for idx in range(2):
    train_fold = train_folds[idx]
    test_fold = test_folds[idx]
    
    train_features = pd.merge(train_fold, client_features_456, on='phone_id').fillna(0)
    #train_features = pd.merge(train_fold, client_features_6, on='phone_id').fillna(0)
    print(len(train_fold), len(train_features), train_features.shape)
       
    #print(train_features)
    train_target = deepcopy(train_features['target'])
    del train_features['target']
    del train_features['phone_id']
    del train_features['month_x']
    del train_features['month_y']
    train_features.drop([
 'age_x',
 'age_y',
 'gender_female_x',
 'gender_female_y',
 'gender_male_x',
 'gender_male_y',
 'genger_nan_x',
 'genger_nan_y'], axis=1, inplace=True)

    
    test_features = pd.merge(test_fold, client_features_567, on='phone_id').fillna(0)
    #test_features = pd.merge(test_fold, client_features_7, on='phone_id').fillna(0)
    print(len(test_fold), len(test_features), test_features.shape)
    
    test_target = deepcopy(test_features['target'])
    del test_features['target']
    del test_features['phone_id']
    del test_features['month_x']
    del test_features['month_y']
    test_features.drop([
 'age_x',
 'age_y',
 'gender_female_x',
 'gender_female_y',
 'gender_male_x',
 'gender_male_y',
 'genger_nan_x',
 'genger_nan_y'], axis=1, inplace=True)
    
    #print(train_features.columns, train_target)
    #print(test_features.columns, test_target)

    clf.fit(train_features, train_target)
    print(type(clf))
    new_preds = clf.predict(test_features)
    score = f1_score(test_target, new_preds)
    print(score)

127226 113134 (113134, 87)
142031 124596 (124596, 87)
<class 'xgboost.sklearn.XGBClassifier'>
0.7111398311485589
127059 112763 (112763, 87)
142418 125062 (125062, 87)
<class 'xgboost.sklearn.XGBClassifier'>
0.7139466170904986

In [24]:
#clf = SGDClassifier()
clf = xgb.XGBClassifier(n_estimators=1000, max_depth=5)

param = {'max_depth': 4, 'eta': 1, 'objective': 'binary:logistic'}
for idx in range(2):
    train_fold = train_folds[idx]
    test_fold = test_folds[idx]
    
    train_features = pd.merge(train_fold, client_features_456, on='phone_id').fillna(0)
    #train_features = pd.merge(train_fold, client_features_6, on='phone_id').fillna(0)
    print(len(train_fold), len(train_features), train_features.shape)
       
    #print(train_features)
    train_target = deepcopy(train_features['target'])
    del train_features['target']
    del train_features['phone_id']
    del train_features['month_x']
    del train_features['month_y']
    train_features.drop([
 'age_x',
 'age_y',
 'gender_female_x',
 'gender_female_y',
 'gender_male_x',
 'gender_male_y',
 'genger_nan_x',
 'genger_nan_y'], axis=1, inplace=True)

    
    test_features = pd.merge(test_fold, client_features_567, on='phone_id').fillna(0)
    #test_features = pd.merge(test_fold, client_features_7, on='phone_id').fillna(0)
    print(len(test_fold), len(test_features), test_features.shape)
    
    test_target = deepcopy(test_features['target'])
    del test_features['target']
    del test_features['phone_id']
    del test_features['month_x']
    del test_features['month_y']
    test_features.drop([
 'age_x',
 'age_y',
 'gender_female_x',
 'gender_female_y',
 'gender_male_x',
 'gender_male_y',
 'genger_nan_x',
 'genger_nan_y'], axis=1, inplace=True)
    
    #print(train_features.columns, train_target)
    #print(test_features.columns, test_target)

    clf.fit(train_features, train_target)
    print(type(clf))
    new_preds = clf.predict(test_features)
    score = f1_score(test_target, new_preds)
    print(score)

127226 113134 (113134, 87)
142031 124596 (124596, 87)
<class 'xgboost.sklearn.XGBClassifier'>
0.7003893645936684
127059 112763 (112763, 87)
142418 125062 (125062, 87)
<class 'xgboost.sklearn.XGBClassifier'>
0.700639577696693

In [51]:
result_clf = xgb.XGBClassifier(n_estimators=500, max_depth=6, learning_rate=0.05)

test_features = pd.merge(test_data, client_features_567, on='phone_id').fillna(0)

print(len(test_data), len(test_features), test_features.shape)
    
test_target = deepcopy(test_features['target'])
del test_features['target']
del test_features['fold_num']
del test_features['phone_id']
del test_features['month_x']
del test_features['month_y']
del test_features['order_completed_at']
test_features.drop([
 'age_x',
 'age_y',
 'gender_female_x',
 'gender_female_y',
 'gender_male_x',
 'gender_male_y',
 'genger_nan_x',
 'genger_nan_y'], axis=1, inplace=True)
    
    #print(train_features.columns, train_target)
    #print(test_features.columns, test_target)

result_clf.fit(test_features, test_target)

284449 249658 (249658, 89)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
              importance_type='gain', interaction_constraints='',
              learning_rate=0.05, max_delta_step=0, max_depth=6,
              min_child_weight=1, missing=nan, monotone_constraints='()',
              n_estimators=500, n_jobs=0, num_parallel_tree=1, random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, subsample=1,
              tree_method='exact', validate_parameters=1, verbosity=None)

In [82]:
subm_features = pd.merge(df_test, client_features_678, how='left', 
                         left_on='Id', right_on='phone_id').fillna(0)
del subm_features['Predicted']
del subm_features['Id']
del subm_features['phone_id']
del subm_features['month_x']
del subm_features['month_y']
del subm_features['month']
#del subm_features['order_completed_at']
subm_features.drop([
 'age_x',
 'age_y',
 'gender_female_x',
 'gender_female_y',
 'gender_male_x',
 'gender_male_y',
 'genger_nan_x',
 'genger_nan_y'], axis=1, inplace=True)

result_preds = result_clf.predict(subm_features)

In [83]:
len(result_preds)

214609

In [57]:
len(df_test)

214609

In [87]:
df_test['Predicted'] = result_preds
df_test['Predicted'] = df_test['Predicted'].astype(int)
df_test.to_csv("./HackIt_3_month_submit.csv", index=False)

In [85]:
df_test

            Id  Predicted
0        19843        0.0
1       471287        1.0
2       342522        0.0
3       457799        1.0
4       233778        0.0
...        ...        ...
214604   16841        1.0
214605   69348        0.0
214606  594974        1.0
214607  320024        0.0
214608   23853        1.0

[214609 rows x 2 columns]

In [ ]:
client_features

In [58]:
len(subm_features)

180172

In [48]:
subm_features.columns

Index(['Id', 'order_id_nunique_x', 'total_cost_sum_x', 'total_cost_min_x',
       'total_cost_max_x', 'total_cost_mean_x', 'total_cost_std_x',
       'rate_mean_x', 'promo_total_sum_x', 'promo_total_mean_x',
       'total_weight_sum_x', 'total_weight_mean_x', 'month_after_first_x',
       'order_state_complete_x', 'order_state_canceled_x',
       'order_state_resumed_x', 'order_state_cart_x',
       'shipment_state_shipped_x', 'shipment_state_canceled_x',
       'shipment_state_collecting_x', 'shipment_state_ready_x',
       'shipment_state_shipping_x', 'shipment_state_ready_to_ship_x',
       'shipment_state_pending_x', 'order_id_nunique_y', 'total_cost_sum_y',
       'total_cost_min_y', 'total_cost_max_y', 'total_cost_mean_y',
       'total_cost_std_y', 'rate_mean_y', 'promo_total_sum_y',
       'promo_total_mean_y', 'total_weight_sum_y', 'total_weight_mean_y',
       'month_after_first_y', 'order_state_complete_y',
       'order_state_canceled_y', 'order_state_resumed_y', 'order_state_cart_y',
       'shipment_state_shipped_y', 'shipment_state_canceled_y',
       'shipment_state_collecting_y', 'shipment_state_ready_y',
       'shipment_state_shipping_y', 'shipment_state_ready_to_ship_y',
       'shipment_state_pending_y', 'order_id_nunique', 'total_cost_sum',
       'total_cost_min', 'total_cost_max', 'total_cost_mean', 'total_cost_std',
       'rate_mean', 'promo_total_sum', 'promo_total_mean', 'total_weight_sum',
       'total_weight_mean', 'month', 'month_after_first', 'age', 'genger_nan',
       'gender_male', 'gender_female', 'order_state_complete',
       'order_state_canceled', 'order_state_resumed', 'order_state_cart',
       'shipment_state_shipped', 'shipment_state_canceled',
       'shipment_state_collecting', 'shipment_state_ready',
       'shipment_state_shipping', 'shipment_state_ready_to_ship',
       'shipment_state_pending'],
      dtype='object')

In [ ]:
clf.train()

In [20]:
clf.feature_importances_

array([2.8075944e-03, 4.4088610e-03, 4.6420028e-03, 4.0781121e-03,
       4.2778212e-03, 4.0899110e-03, 4.4004992e-03, 3.8181802e-03,
       5.0168824e-03, 5.6645134e-03, 5.5080703e-03, 1.0146709e-02,
       1.0410837e-02, 3.0625288e-03, 2.3707431e-03, 0.0000000e+00,
       5.1997034e-03, 0.0000000e+00, 1.4342251e-03, 5.4036913e-04,
       0.0000000e+00, 0.0000000e+00, 0.0000000e+00, 4.1685700e-03,
       3.9150976e-03, 5.3464798e-03, 3.9951829e-03, 4.2095720e-03,
       4.6305396e-03, 4.3462738e-03, 3.6234201e-03, 4.4237655e-03,
       5.0196229e-03, 4.5335353e-03, 2.4677131e-02, 7.0485519e-03,
       3.9929179e-03, 1.1314387e-03, 0.0000000e+00, 7.6393946e-03,
       0.0000000e+00, 0.0000000e+00, 1.1349554e-03, 2.6889683e-03,
       2.1559468e-03, 0.0000000e+00, 4.8745956e-02, 3.8003796e-03,
       3.5161895e-03, 3.6679397e-03, 3.9979760e-03, 4.7889454e-03,
       8.9688795e-03, 5.3242957e-03, 4.1669668e-03, 6.8553546e-03,
       9.2443824e-03, 2.2743221e-02, 3.8644876e-03, 3.9030986e-03,
       2.7938983e-03, 4.4956198e-03, 1.1584379e-02, 4.1916082e-03,
       1.1848196e-03, 0.0000000e+00, 6.5783399e-01, 0.0000000e+00,
       8.5039396e-04, 4.8920658e-04, 2.4291193e-03, 0.0000000e+00,
       0.0000000e+00], dtype=float32)

In [121]:
train_features.describe()

,order_id_nunique_x,total_cost_sum_x,total_cost_min_x,total_cost_max_x,total_cost_mean_x,total_cost_std_x,rate_mean_x,promo_total_sum_x,promo_total_mean_x,total_weight_sum_x,...,order_state_canceled,order_state_resumed,order_state_cart,shipment_state_shipped,shipment_state_canceled,shipment_state_collecting,shipment_state_ready,shipment_state_shipping,shipment_state_ready_to_ship,shipment_state_pending
count,73444.000000,73444.000000,73444.000000,73444.000000,73444.000000,73444.000000,73444.000000,73444.000000,73444.000000,7.344400e+04,...,73444.000000,73444.000000,73444.000000,73444.000000,73444.000000,73444.000000,73444.000000,73444.000000,73444.000000,73444.000000
mean,1.606448,218.051935,71.140270,106.280272,90.496485,19.444291,2.121792,-82.053917,-41.375288,2.887928e+04,...,0.072777,0.002941,0.000068,1.326140,0.072777,0.000803,0.000545,0.000041,0.000286,0.000068
std,1.856730,294.667615,80.080667,92.944226,80.415390,36.903454,2.215667,356.369504,180.685895,4.136821e+04,...,0.416070,0.097164,0.008251,2.018045,0.416070,0.040245,0.032164,0.006391,0.023626,0.008251
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-25000.000000,-25000.000000,0.000000e+00,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,1.000000,118.000000,98.000000,99.000000,98.000000,0.000000,1.612500,0.000000,0.000000,1.551100e+04,...,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,2.000000,316.000000,158.000000,158.000000,158.000000,28.850186,5.000000,0.000000,0.000000,3.948425e+04,...,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,49.000000,7697.000000,1408.000000,1408.000000,1408.000000,770.039285,5.000000,0.000000,0.000000,1.464781e+06,...,33.000000,9.000000,1.000000,111.000000,33.000000,3.000000,2.000000,1.000000,3.000000,1.000000

In [122]:
test_features.describe()

,order_id_nunique_x,total_cost_sum_x,total_cost_min_x,total_cost_max_x,total_cost_mean_x,total_cost_std_x,rate_mean_x,promo_total_sum_x,promo_total_mean_x,total_weight_sum_x,...,order_state_canceled,order_state_resumed,order_state_cart,shipment_state_shipped,shipment_state_canceled,shipment_state_collecting,shipment_state_ready,shipment_state_shipping,shipment_state_ready_to_ship,shipment_state_pending
count,83168.000000,83168.000000,83168.000000,83168.000000,83168.000000,83168.000000,83168.000000,83168.000000,83168.000000,8.316800e+04,...,83168.000000,83168.000000,83168.000000,83168.000000,83168.000000,83168.000000,83168.000000,83168.000000,83168.000000,83168.000000
mean,1.407140,190.886841,62.384162,93.328670,79.365940,17.145588,1.867992,-71.694614,-35.540407,2.541669e+04,...,0.075366,0.002561,0.000024,1.379473,0.075354,0.000818,0.000517,0.000120,0.000301,0.000024
std,1.845483,293.231940,78.384006,94.104048,80.912492,35.426955,2.189694,421.485540,128.279440,4.024700e+04,...,0.492853,0.082965,0.004904,2.137775,0.492770,0.048786,0.033074,0.012974,0.022201,0.004904
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-68467.299805,-10000.000000,0.000000e+00,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,1.000000,98.000000,0.000000,98.000000,98.000000,0.000000,0.000000,0.000000,0.000000,1.128850e+04,...,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,2.000000,264.000000,108.000000,158.000000,158.000000,11.313708,4.666667,0.000000,0.000000,3.455550e+04,...,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,129.000000,21503.000000,2283.000000,2283.000000,2283.000000,1116.507053,5.000000,0.000000,0.000000,1.994808e+06,...,76.000000,9.000000,1.000000,240.000000,76.000000,6.000000,4.000000,2.000000,2.000000,1.000000

In [18]:
sorted(test_features.columns)

['age',
 'age_x',
 'age_y',
 'gender_female',
 'gender_female_x',
 'gender_female_y',
 'gender_male',
 'gender_male_x',
 'gender_male_y',
 'genger_nan',
 'genger_nan_x',
 'genger_nan_y',
 'month_after_first',
 'month_after_first_x',
 'month_after_first_y',
 'order_id_nunique',
 'order_id_nunique_x',
 'order_id_nunique_y',
 'order_state_canceled',
 'order_state_canceled_x',
 'order_state_canceled_y',
 'order_state_cart',
 'order_state_cart_x',
 'order_state_cart_y',
 'order_state_complete',
 'order_state_complete_x',
 'order_state_complete_y',
 'order_state_resumed',
 'order_state_resumed_x',
 'order_state_resumed_y',
 'promo_total_mean',
 'promo_total_mean_x',
 'promo_total_mean_y',
 'promo_total_sum',
 'promo_total_sum_x',
 'promo_total_sum_y',
 'rate_mean',
 'rate_mean_x',
 'rate_mean_y',
 'shipment_state_canceled',
 'shipment_state_canceled_x',
 'shipment_state_canceled_y',
 'shipment_state_collecting',
 'shipment_state_collecting_x',
 'shipment_state_collecting_y',
 'shipment_state_pending',
 'shipment_state_pending_x',
 'shipment_state_pending_y',
 'shipment_state_ready',
 'shipment_state_ready_to_ship',
 'shipment_state_ready_to_ship_x',
 'shipment_state_ready_to_ship_y',
 'shipment_state_ready_x',
 'shipment_state_ready_y',
 'shipment_state_shipped',
 'shipment_state_shipped_x',
 'shipment_state_shipped_y',
 'shipment_state_shipping',
 'shipment_state_shipping_x',
 'shipment_state_shipping_y',
 'total_cost_max',
 'total_cost_max_x',
 'total_cost_max_y',
 'total_cost_mean',
 'total_cost_mean_x',
 'total_cost_mean_y',
 'total_cost_min',
 'total_cost_min_x',
 'total_cost_min_y',
 'total_cost_std',
 'total_cost_std_x',
 'total_cost_std_y',
 'total_cost_sum',
 'total_cost_sum_x',
 'total_cost_sum_y',
 'total_weight_mean',
 'total_weight_mean_x',
 'total_weight_mean_y',
 'total_weight_sum',
 'total_weight_sum_x',
 'total_weight_sum_y']

In [111]:
sum(preds)

51772.0

In [109]:
test_target

0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
        ...
83163    1.0
83164    1.0
83165    0.0
83166    0.0
83167    1.0
Name: target, Length: 83168, dtype: float64

In [105]:
train_features

,order_id_nunique_x,total_cost_sum_x,total_cost_min_x,total_cost_max_x,total_cost_mean_x,total_cost_std_x,rate_mean_x,promo_total_sum_x,promo_total_mean_x,total_weight_sum_x,...,order_state_canceled,order_state_resumed,order_state_cart,shipment_state_shipped,shipment_state_canceled,shipment_state_collecting,shipment_state_ready,shipment_state_shipping,shipment_state_ready_to_ship,shipment_state_pending
0,1.0,98.0,98.0,98.0,98.000000,0.000000,0.0,0.0,0.0,977.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1.0,98.0,98.0,98.0,98.000000,0.000000,0.0,0.0,0.0,3225.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1.0,199.0,199.0,199.0,199.000000,0.000000,0.0,0.0,0.0,16695.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,5.0,199.0,0.0,199.0,39.800000,88.995506,3.0,0.0,0.0,79830.0,...,0.0,0.0,0.0,9.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73439,2.0,196.0,98.0,98.0,98.000000,0.000000,2.5,0.0,0.0,36321.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
73440,2.0,98.0,0.0,98.0,49.000000,69.296465,5.0,0.0,0.0,1000.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
73441,2.0,256.0,98.0,158.0,128.000000,42.426407,5.0,0.0,0.0,23975.0,...,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0
73442,2.0,418.0,0.0,418.0,209.000000,295.570635,4.5,0.0,0.0,168050.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
73443,13.0,1421.0,0.0,133.0,109.307692,37.099831,0.0,0.0,0.0,287411.0,...,33.0,0.0,0.0,2.0,33.0,0.0,0.0,0.0,0.0,0.0

In [101]:
train_target

0        0.0
1        0.0
2        1.0
3        0.0
4        1.0
        ...
73439    0.0
73440    1.0
73441    1.0
73442    1.0
73443    1.0
Name: target, Length: 73444, dtype: float64

In [92]:
Counter(train_features.columns)

Counter({'order_id_nunique_x': 1,
         'total_cost_sum_x': 1,
         'total_cost_min_x': 1,
         'total_cost_max_x': 1,
         'total_cost_mean_x': 1,
         'total_cost_std_x': 1,
         'rate_mean_x': 1,
         'promo_total_sum_x': 1,
         'promo_total_mean_x': 1,
         'total_weight_sum_x': 1,
         'total_weight_mean_x': 1,
         'month_after_first_x': 1,
         'age_x': 1,
         'genger_nan_x': 1,
         'gender_male_x': 1,
         'gender_female_x': 1,
         'order_state_complete_x': 1,
         'order_state_canceled_x': 1,
         'order_state_resumed_x': 1,
         'order_state_cart_x': 1,
         'shipment_state_shipped_x': 1,
         'shipment_state_canceled_x': 1,
         'shipment_state_collecting_x': 1,
         'shipment_state_ready_x': 1,
         'shipment_state_shipping_x': 1,
         'shipment_state_ready_to_ship_x': 1,
         'shipment_state_pending_x': 1,
         'order_id_nunique_y': 1,
         'total_cost_sum_y': 1,
         'total_cost_min_y': 1,
         'total_cost_max_y': 1,
         'total_cost_mean_y': 1,
         'total_cost_std_y': 1,
         'rate_mean_y': 1,
         'promo_total_sum_y': 1,
         'promo_total_mean_y': 1,
         'total_weight_sum_y': 1,
         'total_weight_mean_y': 1,
         'month_y': 2,
         'month_after_first_y': 1,
         'age_y': 1,
         'genger_nan_y': 1,
         'gender_male_y': 1,
         'gender_female_y': 1,
         'order_state_complete_y': 1,
         'order_state_canceled_y': 1,
         'order_state_resumed_y': 1,
         'order_state_cart_y': 1,
         'shipment_state_shipped_y': 1,
         'shipment_state_canceled_y': 1,
         'shipment_state_collecting_y': 1,
         'shipment_state_ready_y': 1,
         'shipment_state_shipping_y': 1,
         'shipment_state_ready_to_ship_y': 1,
         'shipment_state_pending_y': 1,
         'order_id_nunique': 1,
         'total_cost_sum': 1,
         'total_cost_min': 1,
         'total_cost_max': 1,
         'total_cost_mean': 1,
         'total_cost_std': 1,
         'rate_mean': 1,
         'promo_total_sum': 1,
         'promo_total_mean': 1,
         'total_weight_sum': 1,
         'total_weight_mean': 1,
         'month_after_first': 1,
         'age': 1,
         'genger_nan': 1,
         'gender_male': 1,
         'gender_female': 1,
         'order_state_complete': 1,
         'order_state_canceled': 1,
         'order_state_resumed': 1,
         'order_state_cart': 1,
         'shipment_state_shipped': 1,
         'shipment_state_canceled': 1,
         'shipment_state_collecting': 1,
         'shipment_state_ready': 1,
         'shipment_state_shipping': 1,
         'shipment_state_ready_to_ship': 1,
         'shipment_state_pending': 1})

In [69]:
train_target.values

array([0., 1., 0., ..., 1., 1., 0.])

In [13]:
import xgboost as xgb
from collections import Counter

In [78]:
!pip install xgboost

Collecting xgboost
  Downloading xgboost-1.2.1-py3-none-manylinux2010_x86_64.whl (148.9 MB)
     |████████████████████████████████| 148.9 MB 234 kB/s eta 0:00:013    |████▊                           | 21.8 MB 14.0 MB/s eta 0:00:10     |██████████████                  | 64.8 MB 8.2 MB/s eta 0:00:11
Requirement already satisfied: numpy in /home/dana_zl/anaconda3/lib/python3.7/site-packages (from xgboost) (1.19.1)
Requirement already satisfied: scipy in /home/dana_zl/anaconda3/lib/python3.7/site-packages (from xgboost) (1.4.1)
Installing collected packages: xgboost
Successfully installed xgboost-1.2.1

In [50]:
(set(client_features_567['phone_id'].values)).difference(set(train_fold['phone_id'].values))

{2,
 4,
 6,
 9,
 14,
 16,
 18,
 19,
 23,
 24,
 26,
 27,
 28,
 29,
 30,
 31,
 33,
 34,
 35,
 36,
 37,
 38,
 40,
 44,
 45,
 46,
 47,
 48,
 49,
 52,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 67,
 68,
 71,
 72,
 73,
 74,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 96,
 97,
 99,
 100,
 101,
 102,
 105,
 106,
 109,
 112,
 113,
 114,
 116,
 119,
 120,
 121,
 123,
 124,
 125,
 126,
 129,
 131,
 132,
 134,
 135,
 136,
 139,
 140,
 141,
 143,
 144,
 145,
 146,
 147,
 149,
 150,
 151,
 152,
 153,
 155,
 156,
 158,
 163,
 164,
 166,
 167,
 168,
 169,
 170,
 171,
 176,
 177,
 178,
 180,
 182,
 183,
 185,
 186,
 187,
 190,
 192,
 193,
 194,
 197,
 198,
 199,
 201,
 202,
 204,
 205,
 206,
 207,
 208,
 210,
 211,
 212,
 213,
 215,
 216,
 218,
 219,
 221,
 223,
 224,
 226,
 228,
 230,
 234,
 235,
 236,
 238,
 240,
 241,
 242,
 243,
 246,
 251,
 252,
 253,
 254,
 259,
 260,
 262,
 263,
 268,
 269,
 271,
 274,
 276,
 277,
 279,
 280,
 281,
 285,
 286,
 288,
 290,
 291,
 292,
 294,
 295,
 296,
 297,
 298,
 299,
 300,
 301,
 302,
 304,
 305,
 306,
 307,
 310,
 313,
 316,
 321,
 322,
 323,
 327,
 329,
 332,
 333,
 339,
 340,
 341,
 342,
 344,
 345,
 346,
 347,
 348,
 351,
 353,
 354,
 356,
 357,
 358,
 359,
 360,
 361,
 363,
 364,
 365,
 366,
 368,
 370,
 371,
 372,
 375,
 377,
 378,
 379,
 380,
 381,
 382,
 383,
 384,
 385,
 388,
 389,
 390,
 391,
 394,
 397,
 398,
 401,
 402,
 405,
 408,
 409,
 411,
 413,
 416,
 418,
 419,
 420,
 422,
 424,
 425,
 426,
 427,
 428,
 429,
 430,
 431,
 432,
 435,
 436,
 439,
 440,
 442,
 443,
 445,
 448,
 450,
 451,
 453,
 457,
 458,
 459,
 466,
 467,
 468,
 469,
 472,
 473,
 477,
 478,
 479,
 480,
 481,
 482,
 483,
 484,
 485,
 486,
 487,
 489,
 490,
 492,
 494,
 495,
 496,
 497,
 499,
 501,
 502,
 504,
 505,
 506,
 508,
 509,
 510,
 512,
 515,
 517,
 519,
 520,
 525,
 526,
 527,
 532,
 533,
 534,
 536,
 540,
 543,
 544,
 545,
 546,
 549,
 550,
 551,
 552,
 553,
 555,
 557,
 558,
 559,
 560,
 561,
 562,
 565,
 566,
 567,
 568,
 569,
 570,
 571,
 572,
 573,
 574,
 575,
 576,
 577,
 579,
 580,
 582,
 583,
 587,
 588,
 589,
 590,
 593,
 597,
 598,
 599,
 600,
 602,
 603,
 605,
 606,
 607,
 608,
 609,
 610,
 612,
 613,
 614,
 615,
 618,
 623,
 624,
 626,
 627,
 629,
 630,
 631,
 632,
 633,
 634,
 635,
 638,
 640,
 643,
 644,
 647,
 648,
 650,
 651,
 652,
 653,
 654,
 655,
 656,
 658,
 660,
 662,
 663,
 664,
 667,
 668,
 669,
 671,
 673,
 676,
 677,
 678,
 679,
 681,
 682,
 686,
 688,
 689,
 691,
 693,
 696,
 697,
 698,
 700,
 701,
 702,
 703,
 708,
 710,
 712,
 714,
 715,
 716,
 717,
 719,
 722,
 723,
 724,
 725,
 726,
 727,
 728,
 729,
 730,
 731,
 732,
 734,
 736,
 737,
 738,
 739,
 740,
 741,
 744,
 746,
 748,
 751,
 752,
 753,
 754,
 755,
 756,
 758,
 759,
 760,
 761,
 764,
 765,
 768,
 771,
 772,
 773,
 774,
 775,
 776,
 777,
 778,
 779,
 780,
 782,
 783,
 784,
 785,
 786,
 789,
 790,
 791,
 793,
 795,
 796,
 797,
 798,
 799,
 800,
 802,
 807,
 808,
 809,
 810,
 812,
 814,
 815,
 816,
 818,
 821,
 825,
 826,
 829,
 832,
 835,
 836,
 838,
 839,
 840,
 841,
 843,
 844,
 845,
 847,
 848,
 850,
 852,
 853,
 856,
 857,
 858,
 859,
 860,
 861,
 862,
 863,
 864,
 866,
 867,
 868,
 871,
 872,
 873,
 875,
 876,
 877,
 878,
 879,
 880,
 883,
 884,
 886,
 888,
 889,
 890,
 891,
 892,
 894,
 895,
 896,
 900,
 901,
 902,
 906,
 907,
 909,
 910,
 911,
 912,
 913,
 917,
 918,
 919,
 924,
 925,
 926,
 929,
 931,
 932,
 933,
 936,
 937,
 938,
 941,
 942,
 943,
 944,
 945,
 946,
 947,
 948,
 950,
 951,
 952,
 954,
 955,
 956,
 957,
 960,
 961,
 963,
 966,
 967,
 970,
 971,
 972,
 974,
 975,
 976,
 978,
 979,
 980,
 982,
 983,
 985,
 986,
 987,
 990,
 991,
 992,
 993,
 994,
 995,
 997,
 998,
 1000,
 1001,
 1003,
 1004,
 1006,
 1007,
 1008,
 1009,
 1011,
 1012,
 1016,
 1019,
 1020,
 1023,
 1027,
 1029,
 1030,
 1031,
 1033,
 1035,
 1038,
 1039,
 1042,
 1043,
 1046,
 1048,
 1051,
 1053,
 1055,
 1056,
 1058,
 1061,
 1062,
 1063,
 1064,
 1066,
 1067,
 1074,
 1075,
 1077,
 1078,
 1079,
 1080,
 1081,
 1082,
 1083,
 1085,
 1086,
 1091,
 1093,
 1094,
 1095,
 1096,
 1100,
 1101,
 1102,
 1103,
 1104,
 1105,
 1106,
 1108,
 1109,
 1110,
 1111,
 1113,
 1114,
 1115,
 1118,
 1119,
 1120,
 1121,
 1122,
 1123,
 1124,
 1127,
 1129,
 1130,
 1131,
 1132,
 1134,
 1135,
 1137,
 1141,
 1142,
 1144,
 1147,
 1150,
 1151,
 1152,
 1155,
 1156,
 1158,
 1159,
 1161,
 1162,
 1163,
 1164,
 1165,
 1166,
 1170,
 1171,
 1172,
 1173,
 1175,
 1176,
 1178,
 1179,
 1180,
 1181,
 1184,
 1185,
 1186,
 1188,
 1189,
 1190,
 1191,
 1194,
 1195,
 1198,
 1199,
 1202,
 1203,
 1204,
 1206,
 1208,
 1210,
 1211,
 1212,
 1213,
 1214,
 1217,
 1218,
 1220,
 1221,
 1223,
 1224,
 1225,
 1226,
 1228,
 1229,
 1231,
 1232,
 1233,
 1234,
 1238,
 1239,
 1240,
 1241,
 1242,
 1243,
 1246,
 1248,
 1250,
 1251,
 1254,
 1256,
 1257,
 1258,
 1260,
 1263,
 1264,
 1270,
 1273,
 1275,
 1279,
 1280,
 1281,
 1282,
 1287,
 1288,
 1289,
 1292,
 1294,
 1295,
 1296,
 1297,
 1299,
 1303,
 1304,
 1305,
 1306,
 1307,
 1311,
 1312,
 1313,
 1315,
 1316,
 1317,
 1319,
 1321,
 1323,
 1327,
 1328,
 1329,
 1330,
 1333,
 1334,
 1335,
 1336,
 1337,
 1339,
 1340,
 1341,
 1342,
 1343,
 1344,
 1345,
 1346,
 1347,
 1349,
 1352,
 1355,
 1356,
 1357,
 1361,
 1362,
 1365,
 1366,
 1367,
 1368,
 1369,
 1371,
 1372,
 1373,
 1375,
 1376,
 1377,
 1378,
 1379,
 1381,
 1382,
 1383,
 1384,
 1385,
 1393,
 1396,
 1397,
 1400,
 1401,
 1403,
 1404,
 1405,
 1406,
 1408,
 1410,
 1412,
 1413,
 1414,
 1415,
 1416,
 1421,
 1422,
 1423,
 1424,
 1425,
 1430,
 1431,
 1432,
 1436,
 1437,
 1439,
 1440,
 1442,
 1443,
 1444,
 1447,
 1448,
 1449,
 1451,
 1452,
 1453,
 1454,
 1455,
 1456,
 1457,
 1459,
 1460,
 1461,
 1462,
 1463,
 1464,
 1465,
 1466,
 1467,
 1468,
 1471,
 1473,
 1474,
 1476,
 1478,
 1479,
 1480,
 1482,
 1483,
 1485,
 1490,
 1491,
 1494,
 1495,
 1496,
 1499,
 1500,
 1501,
 1502,
 1504,
 1506,
 1507,
 1508,
 1510,
 1511,
 1512,
 1513,
 1514,
 1515,
 1517,
 1520,
 1522,
 1527,
 1528,
 1531,
 1533,
 1535,
 1536,
 1538,
 1541,
 1542,
 1543,
 1544,
 1545,
 1546,
 1549,
 1550,
 1551,
 1553,
 1555,
 1557,
 1558,
 1560,
 1561,
 1562,
 1563,
 1564,
 1565,
 1566,
 1569,
 1571,
 1575,
 1577,
 1578,
 1579,
 1580,
 1581,
 1583,
 1584,
 1585,
 1587,
 1588,
 1589,
 1590,
 1591,
 1592,
 1594,
 1595,
 1596,
 1597,
 1598,
 1599,
 1600,
 1601,
 1602,
 1603,
 1604,
 ...}

In [49]:
client_features[client_features['phone_id'].isin(train_fold['phone_id'].values)]['']

4               3
5               3
6               3
18              8
19              8
            ...
1155554    719113
1155628    719192
1155776    719359
1155777    719360
1155788    719374
Name: phone_id, Length: 258575, dtype: int64

In [44]:
train_fold['phone_id'].nunique()

84890

In [54]:
train_fold

       phone_id  target  month
0         19843     0.0      6
1        173074     0.0      6
2        342522     1.0      6
3        702441     0.0      6
4         40738     1.0      6
...         ...     ...    ...
84885    143151     0.0      6
84886     49252     1.0      6
84887    222552     1.0      6
84888    320024     1.0      6
84889     23853     1.0      6

[84890 rows x 3 columns]

In [19]:
test_folds

[       phone_id  target  month
 0        173074     0.0      7
 1        101944     0.0      7
 2        615032     0.0      7
 3        174054     1.0      7
 4        155699     1.0      7
 ...         ...     ...    ...
 94921     78431     1.0      7
 94922    652913     1.0      7
 94923    106273     1.0      7
 94924    238680     0.0      7
 94925     69348     0.0      7

 [94926 rows x 3 columns],
        phone_id  target  month
 0         19843     1.0      7
 1        457799     1.0      7
 2        233778     1.0      7
 3         31838     0.0      7
 4         57297     1.0      7
 ...         ...     ...    ...
 94622     69813     1.0      7
 94623     66542     1.0      7
 94624    143151     0.0      7
 94625     49252     0.0      7
 94626     64318     0.0      7

 [94627 rows x 3 columns],
        phone_id  target  month
 0        342522     0.0      7
 1        702441     0.0      7
 2         40738     0.0      7
 3         86829     0.0      7
 4         68581     0.0      7
 ...         ...     ...    ...
 94891    137908     0.0      7
 94892    594974     1.0      7
 94893    320024     0.0      7
 94894    346461     0.0      7
 94895     23853     1.0      7

 [94896 rows x 3 columns]]

In [74]:
import lightgbm as lgb